<h2 id="read">Reading Text Files</h2>

One way to read or write a file in Python is to use the built-in <code>open</code> function. The <code>open</code> function provides a **File object** that contains the methods and attributes you need in order to read, save, and manipulate the file.

To use the open function, two parameters need to be speficied: **file path** and **mode**.

In [ ]:
file_path = 'data/README.txt'

Open the file for reading (default mode)

In [ ]:
file = open(file_path, 'r')

 We can view the attributes of the file.

In [ ]:
# Print the path of file
file.name

In [ ]:
# Print the mode of file, either 'r' or 'w'
file.mode

In [ ]:
type(file)

Read one line of the file

In [ ]:
# Read one line
file.readline()

Read all lines and return them as a list of strings.

In [ ]:
# Read all lines
file.readlines()

It is very important to close the file when you are finished with it. It helps release computer resources and ensures that your code behaves consistently, regardless of the Python version you're using.

In [ ]:
# Close the file
file.close()

<h2 id="better">A Better Way to Open a File</h2>

Using the <code>with</code> statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [ ]:
# Open the file using "with"
file_path = 'data/README.txt'
with open(file_path, 'r') as file:
    lines = file.readlines()
    print(lines)

Each element of the list corresponds to a line of text:

In [ ]:
lines[1]

Read one line

In [110]:
with open(file_path, 'r') as file:
    line = file.readline()
    print(line)

ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response

Loop over lines

In [111]:
with open(file_path, 'r') as file:
    line = file.readline()
    while line:
        print(line)
        line = file.readline()

ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response

5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1

2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0

4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0

6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0

5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,520,42,98,0,42,14,2,6,4,10,6,0,0,0,0,0,0,3,11,0

965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,235,65,164,50,49,27,4,7,3,7,6,0,0,0,0,0,0,3,11,0

6177,1985,PhD,Married,33454.0,1,0,08-05-2013,32,76,10,56,3,1,23,2,4,0,4,8,0,0,0,0,0,0,3,11,0

4855,1974,PhD,Together,30351.0,1,0,06-06-2013,19,14,0,24,3,3,2,1,3,0,2,9,0,0,0,0,0,0,3,11,1

5899,1950,PhD,Together,5648.0,1,1,13-03-2014,68,28,0,6,1,1,13,1,1,0,0,20,1,0,0,0,0,0,3,11,0

1994,1983,Graduation,Married,,1,0,15-11-2013,11,5,5,6,0,2,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0

387,1976,Basic,Married,7500.0,0,0,13-11-2012,59,6,16,11,11,1,16,1,2,0,3,8,0,0,0,0,0,0,3,11,0

2125,1959,Graduation,Divorced,63033.0,0,0,15-11-2013,82,194,61,480,225,112,30,1,3,4,8,2,0,0,0,0,0,0,3,11,0

8180,1952,Master,Divorced,59354.0,1,1,15-11-2013,53,233,2,53,3,5,14,3,6,1,5,6,0,0,0,0,0,0,3,11,0

2569,1987,Graduation,Married,17323.0,0,0,10-10-2012,38,3,14,17,6,1,5,1,1,0,3,8,0,0,0,0,0,0,3,11,0

2114,1946,PhD,Single,82800.0,0,0,24-11-2012,23,1006,22,115,59,68,45,1,7,6,12,3,0,0,1,1,0,0,3,11,1

9736,1980,Graduation,Married,41850.0,1,1,24-12-2012,51,53,5,19,2,13,4,3,3,0,3,8,0,0,0,0,0,0,3,11,0

4939,1946,Graduation,Together,37760.0,0,0,31-08-2012,20,84,5,38,150,12,28,2,4,1,6,7,0,0,0,0,0,0,3,11,0

6565,1949,Master,Married,76995.0,0,1,28-03-2013,91,1012,80,498,0,16,176,2,11,4,9,5,0,0,0,1,0,0,3,11,0

2278,1985,2n Cycle,Single,33812.0,1,0,03-11-2012,86,4,17,19,30,24,39,2,2,1,3,6,0,0,0,0,0,0,3,11,0

9360,1982,Graduation,Married,37040.0,0,0,08-08-2012,41,86,2,73,69,38,48,1,4,2,5,8,0,0,0,0,0,0,3,11,0

5376,1979,Graduation,Married,2447.0,1,0,06-01-2013,42,1,1,1725,1,1,1,15,0,28,0,1,0,0,0,0,0,0,3,11,0

1993,1949,PhD,Married,58607.0,0,1,23-12-2012,63,867,0,86,0,0,19,3,2,3,9,8,0,1,0,0,0,0,3,11,0

4047,1954,PhD,Married,65324.0,0,1,11-01-2014,0,384,0,102,21,32,5,3,6,2,9,4,0,0,0,0,0,0,3,11,0

1409,1951,Graduation,Together,40689.0,0,1,18-03-2013,69,270,3,27,39,6,99,7,7,1,5,8,0,0,0,0,0,0,3,11,0

7892,1969,Graduation,Single,18589.0,0,0,02-01-2013,89,6,4,25,15,12,13,2,2,1,3,7,0,0,0,0,0,0,3,11,0

2404,1976,Graduation,Married,53359.0,1,1,27-05-2013,4,173,4,30,3,6,41,4,5,1,4,7,0,0,0,0,0,0,3,11,0

5255,1986,Graduation,Single,,1,0,20-02-2013,19,5,1,3,3,263,362,0,27,0,0,1,0,0,0,0,0,0,3,11,0

9422,1989,Graduation,Married,38360.0,1,0,31-05-2013,26,36,2,42,20,21,10,2,2,1,4,3,0,0,0,0,0,0,3,11,0

1966,1965,PhD,Married,84618.0,0,0,22-11-2013,96,684,100,801,21,66,0,1,6,9,10,2,0,0,1,0,0,0,3,11,0

6864,1989,Master,Divorced,10979.0,0,0,22-05-2014,34,8,4,10,2,2,4,2,3,0,3,5,0,0,0,0,0,0,3,11,0

3033,1963,Master,Together,38620.0,0,0,11-05-2013,56,112,17,44,34,22,89,1,2,5,3,3,0,0,0,0,0,0,3,11,0

5710,1970,Graduation,Together,40548.0,0,1,10-10-2012,31,110,0,5,2,0,3,2,2,1,4,5,0,1,0,0,0,0,3,11,0

7373,1952,PhD,Divorced,46610.0,0,2,29-10-2012,8,96,12,96,33,22,43,6,4,1,6,6,0,0,0,0,0,0,3,11,1

8755,1946,Master,Married,68657.0,0,0,20-02-2013,4,482,34,471,119,68,22,1,3,5,9,7,0,0,0,0,0,0,3,11,0

10738,1951,Master,Single,49389.0,1,1,29-08-2013,55,40,0,19,2,1,3,1,2,0,3,7,0,0,0,0,0,0,3,11,0

4339,1970,PhD,Married,67353.0,0,1,31-12-2013,37,702,17,151,0,8,35,5,5,6,12,2,0,0,0,0,0,0,3,11,0

10755,1976,2n Cycle,Married,23718.0,1,0,02-09-2013,76,6,3,14,15,7,36,3,3,1,2,7,0,0,0,0,0,0,3,11,0

8595,1973,Graduation,Widow,42429.0,0,1,11-02-2014,99,55,0,6,2,0,4,2,1,1,3,5,0,0,0,0,0,0,3,11,0

2968,1943,PhD,Divorced,48948.0,0,0,01-02-2013,53,437,8,206,160,49,42,2,7,10,5,6,1,0,0,0,0,0,3,11,1

8601,1980,Graduation,Married,80011.0,0,1,29-04-2013,3,421,76,536,82,178,102,2,8,6,5,4,0,0,0,0,0,0,3,11,0

503,1985,Master,Married,20559.0,1,0,12-03-2013,88,13,1,29,3,0,7,2,2,0,3,8,0,0,0,0,0,0,3,11,0

8430,1957,Graduation,Together,21994.0,0,1,24-12-2012,4,9,0,6,3,1,3,1,0,0,3,5,0,0,0,0,0,0,3,11,0

7281,1959,PhD,Single,,0,0,05-11-2013,80,81,11,50,3,2,39,1,1,3,4,2,0,0,0,0,0,0,3,11,0

2139,1975,Master,Married,7500.0,1,0,02-10-2013,19,3,1,10,3,2,12,3,2,0,3,5,0,0,0,0,0,0,3,11,0

1371,1976,Graduation,Single,79941.0,0,0,28-06-2014,72,123,164,266,227,30,174,1,2,4,9,1,0,0,0,0,0,0,3,11,0

9909,1996,2n Cycle,Married,7500.0,0,0,09-11-2012,24,3,18,14,15,22,50,3,3,1,3,9,0,0,0,0,0,0,3,11,1

7286,1968,Graduation,Together,41728.0,1,0,24-05-2013,92,13,6,15,3,5,13,1,2,0,2,10,0,0,0,0,0,0,3,11,0

7244,1951,Graduation,Single,,2,1,01-01-2014,96,48,5,48,6,10,7,3,2,1,4,6,0,0,0,0,0,0,3,11,0

6566,1954,PhD,Married,72550.0,1,1,08-11-2012,39,826,50,317,50,38,38,9,5,2,12,8,0,0,0,0,0,0,3,11,0

8614,1957,Graduation,Widow,65486.0,0,1,12-05-2014,29,245,19,125,37,67,14,1,4,2,10,2,0,0,0,0,0,0,3,11,0

4114,1964,Master,Married,79143.0,0,0,11-08-2012,2,650,37,780,27,167,32,1,6,9,13,3,0,0,0,0,0,0,3,11,0

1331,1977,Graduation,Single,35790.0,1,0,02-01-2013,54,12,6,20,30,1,3,2,2,0,3,7,0,0,0,0,0,0,3,11,0

2225,1977,Graduation,Divorced,82582.0,0,0,07-06-2014,54,510,120,550,156,40,241,1,4,9,7,1,1,0,0,1,0,0,3,11,1

9381,1978,Graduation,Married,66373.0,1,1,12-06-2013,57,328,9,124,12,24,109,7,4,2,10,3,0,0,0,0,0,0,3,11,0

6260,1955,Master,Together,82384.0,0,0,19-11-2012,55,984,51,432,180,120,190,1,3,10,13,1,0,0,1,0,0,0,3,11,1

10383,1966,Graduation,Divorced,70287.0,0,0,02-04-2013,30,295,35,482,121,120,40,1,5,5,10,3,0,0,0,0,0,0,3,11,1

7437,1988,Graduation,Single,27938.0,1,0,28-04-2014,31,13,0,8,2,1,5,1,1,0,4,3,0,0,0,0,0,0,3,11,0

8557,1982,Graduation,Single,,1,0,17-06-2013,57,11,3,22,2,2,6,2,2,0,3,6,0,0,0,0,0,0,3,11,0

8375,1968,PhD,Married,55954.0,0,1,03-03-2014,63,447,0,28,0,0,43,3,8,2,6,7,0,0,0,0,0,0,3,11,0

6853,1982,Master,Single,75777.0,0,0,04-07-2013,12,712,26,538,69,13,80,1,3,6,11,1,0,1,1,0,0,0,3,11,1

3076,1975,Graduation,Together,66653.0,1,1,07-09-2012,18,452,18,102,16,18,6,4,4,2,12,3,0,0,0,0,0,0,3,11,0

1012,1952,Graduation,Single,61823.0,0,1,18-02-2013,26,523,7,134,37,14,169,4,8,2,10,7,0,0,0,0,0,0,3,11,0

6518,1951,PhD,Widow,67680.0,0,1,11-06-2013,8,546,0,48,0,6,6,1,7,3,8,5,0,0,0,0,0,0,3,11,0

4137,1948,Graduation,Together,70666.0,0,0,06-12-2013,29,398,40,367,119,122,30,1,7,4,4,4,0,0,0,0,0,0,3,11,0

8082,1971,Graduation,Married,25721.0,1,0,21-05-2013,75,1,3,6,3,6,15,1,1,1,2,7,0,0,0,0,0,0,3,11,1

1386,1967,Graduation,Together,32474.0,1,1,11-05-2014,0,10,0,1,0,0,0,1,1,0,2,7,0,0,0,0,0,0,3,11,0

9369,1979,2n Cycle,Single,88194.0,0,1,19-03-2014,19,688,14,309,201,24,38,1,11,10,10,5,1,0,0,1,0,0,3,11,1

4477,1958,Graduation,Together,69096.0,0,1,27-09-2013,4,247,49,159,7,82,109,1,5,2,10,4,0,0,0,0,0,0,3,11,0

1357,1970,Graduation,Together,74854.0,1,2,08-04-2013,90,856,59,487,58,29,73,7,2,5,5,5,0,0,0,0,0,0,3,11,0

1402,1954,Master,Married,66991.0,0,0,11-09-2012,1,496,36,460,189,60,12,3,4,8,6,3,0,0,0,0,0,0,3,11,0

10629,1973,2n Cycle,Married,,1,0,14-09-2012,25,25,3,43,17,4,17,3,3,0,3,8,0,0,0,0,0,0,3,11,0

6312,1959,Graduation,Married,65031.0,0,1,17-03-2013,29,258,107,291,84,37,86,4,10,3,13,7,0,0,0,0,0,0,3,11,0

8132,1975,PhD,Married,60631.0,1,1,05-04-2013,88,565,6,65,0,6,19,5,9,2,8,7,0,1,0,0,0,0,3,11,0

1050,1952,Graduation,Married,28332.0,0,0,30-04-2014,58,14,10,13,4,15,9,1,2,1,4,2,0,0,0,0,0,0,3,11,0

5846,1977,Graduation,Divorced,40246.0,1,0,19-12-2012,68,2,1,6,2,1,1,1,1,0,2,6,0,0,0,0,0,0,3,11,0

1859,1972,Master,Married,75251.0,0,0,27-08-2012,34,721,111,925,97,18,18,1,7,6,5,5,0,0,0,0,0,0,3,11,1

7503,1976,Graduation,Single,75825.0,0,0,12-10-2012,40,1032,105,779,137,105,51,0,5,8,9,4,1,0,0,0,0,0,3,11,1

10401,1976,2n Cycle,Together,26326.0,0,0,04-09-2013,12,1,0,5,0,3,9,1,0,0,3,3,0,0,0,0,0,1,3,11,0

1618,1965,Graduation,Together,56046.0,0,0,02-01-2013,9,577,0,64,0,0,51,2,10,1,8,8,1,0,0,0,0,0,3,11,1

3332,1985,Graduation,Single,29760.0,1,0,29-08-2012,87,64,4,68,7,5,17,4,3,1,4,8,0,0,0,0,0,0,3,11,0

2261,1969,Graduation,Married,26304.0,1,0,23-06-2013,5,4,1,5,2,0,4,1,1,0,2,7,0,0,0,0,0,0,3,11,0

5346,1973,2n Cycle,Married,23559.0,1,0,03-07-2013,87,25,5,19,7,0,23,3,3,0,3,7,0,0,0,0,0,0,3,11,0

4119,1963,Master,Together,38620.0,0,0,11-05-2013,56,112,17,44,34,22,89,1,2,5,3,3,0,0,0,0,0,0,3,11,0

535,1987,Graduation,Divorced,81361.0,0,0,25-02-2014,18,163,23,424,27,65,76,1,3,10,13,1,0,0,0,0,0,0,3,11,0

5268,1960,Graduation,Married,29440.0,1,1,11-08-2013,95,17,8,14,10,4,3,2,1,0,4,7,0,0,0,0,0,0,3,11,0

273,1970,Master,Married,36138.0,1,1,16-07-2013,48,130,0,16,0,0,5,5,3,1,4,7,0,1,0,0,0,0,3,11,0

4452,1957,Graduation,Single,50388.0,0,1,28-05-2014,3,292,6,37,0,3,34,4,6,1,6,7,0,1,0,1,0,0,3,11,1

8504,1973,Graduation,Married,79593.0,0,0,12-05-2014,70,350,60,568,110,133,145,1,5,6,7,2,0,0,1,0,0,0,3,11,0

771,1967,Graduation,Together,54178.0,0,1,21-01-2014,79,135,9,39,4,0,7,1,2,2,5,2,0,0,0,0,0,0,3,11,0

8996,1957,PhD,Married,,2,1,19-11-2012,4,230,42,192,49,37,53,12,7,2,8,9,0,0,0,0,0,0,3,11,0

9235,1957,Graduation,Single,,1,1,27-05-2014,45,7,0,8,2,0,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0

5798,1973,Master,Together,,0,0,23-11-2013,87,445,37,359,98,28,18,1,2,4,8,1,0,0,0,0,0,0,3,11,0

11178,1972,Master,Single,42394.0,1,0,23-03-2014,69,15,2,10,0,1,4,1,1,0,3,7,0,0,0,0,0,0,3,11,0

2230,1970,PhD,Married,23626.0,1,0,24-05-2014,84,27,2,14,0,0,0,3,3,1,3,5,0,0,0,0,0,0,3,11,0

7516,1983,Graduation,Married,30096.0,1,0,22-05-2014,30,5,3,11,12,5,9,1,2,0,3,6,0,0,0,0,0,0,3,11,0

7247,1960,Graduation,Widow,47916.0,0,1,22-11-2012,72,505,0,26,0,0,75,5,7,4,6,6,0,1,0,0,0,0,3,11,0

11100,1972,Graduation,Divorced,51813.0,1,1,11-04-2013,37,51,2,7,0,1,2,2,2,0,3,7,0,0,0,0,0,0,3,11,0

4646,1951,2n Cycle,Married,78497.0,0,0,01-12-2013,44,207,26,447,75,0,223,1,5,7,12,2,0,0,0,1,0,0,3,11,0

3037,1983,PhD,Married,50150.0,0,0,20-06-2013,32,135,46,92,65,61,11,2,5,2,7,5,0,0,0,0,0,0,3,11,0

1473,1960,2n Cycle,Single,47823.0,0,1,23-07-2013,0,53,1,5,2,1,10,2,2,0,3,8,0,0,0,0,0,0,3,11,0

1016,1959,PhD,Single,34554.0,0,1,30-03-2014,43,41,1,6,2,0,5,2,2,0,3,6,0,0,0,0,0,0,3,11,0

4518,1979,Graduation,Together,85693.0,0,1,20-04-2013,59,386,172,183,185,132,111,2,9,5,11,5,0,0,0,0,0,0,3,11,0

9370,1945,PhD,Married,65846.0,0,0,17-05-2013,68,562,81,276,80,40,81,1,6,3,6,4,0,0,0,0,0,0,3,11,0

8908,1959,Graduation,Married,87195.0,0,0,08-05-2014,35,217,76,690,50,26,38,1,3,11,5,1,0,0,0,0,0,0,3,11,1

8373,1979,Basic,Together,24594.0,1,0,10-12-2013,94,1,3,6,10,0,9,1,1,0,3,5,0,0,0,0,0,0,3,11,0

7533,1964,Graduation,Married,49096.0,1,1,24-09-2013,15,144,1,32,2,1,7,4,4,1,4,7,0,0,0,0,0,0,3,11,0

2683,1969,Graduation,Married,52413.0,0,2,02-02-2013,56,295,106,271,75,98,65,4,6,4,12,6,0,0,0,0,0,0,3,11,0

3629,1978,Graduation,Single,38557.0,1,0,19-12-2012,17,76,3,31,4,4,27,2,3,1,3,7,0,0,0,0,0,0,3,11,0

10991,1960,Master,Married,89058.0,0,0,07-12-2012,18,454,194,106,31,22,43,1,5,4,4,2,0,0,0,0,0,0,3,11,0

5077,1979,Graduation,Together,77298.0,0,1,02-11-2013,46,425,115,292,23,35,79,1,6,6,11,3,0,0,0,0,0,0,3,11,0

7431,1991,PhD,Single,68126.0,0,0,10-11-2012,40,1332,17,311,23,51,86,1,7,4,5,9,0,1,0,0,0,0,3,11,1

3267,1963,Master,Together,57288.0,0,1,25-06-2014,27,527,0,21,0,0,60,3,8,1,8,6,0,1,0,0,0,0,3,11,0

999,1991,Graduation,Single,86037.0,0,0,02-01-2013,95,490,44,125,29,20,22,1,6,7,11,3,0,1,1,0,0,0,3,11,1

9215,1980,PhD,Married,43974.0,1,0,12-12-2012,19,378,0,101,0,0,72,5,6,4,6,7,0,0,0,0,0,0,3,11,0

2286,1962,Graduation,Single,50785.0,1,1,10-09-2013,27,64,1,21,0,1,27,2,2,1,3,6,0,0,0,0,0,0,3,11,0

1592,1970,Graduation,Married,90765.0,0,0,24-01-2014,25,547,99,812,151,82,33,0,4,6,5,1,0,0,1,1,0,0,3,11,0

367,1978,2n Cycle,Married,36550.0,1,0,19-02-2013,74,47,90,94,123,103,120,5,9,1,5,9,0,0,0,0,0,0,3,11,0

5234,1967,2n Cycle,Together,30753.0,1,1,11-07-2013,85,12,5,25,0,9,30,2,1,1,3,5,0,0,0,0,0,0,3,11,0

9862,1969,Graduation,Together,21918.0,1,0,14-11-2013,37,1,6,7,11,5,3,2,2,0,3,6,0,0,0,0,0,0,3,11,0

9805,1953,Master,Together,56129.0,0,1,20-06-2013,65,320,48,133,39,72,48,4,6,2,10,4,0,0,0,0,0,0,3,11,0

6205,1967,Master,Single,32557.0,1,0,24-02-2014,13,34,3,29,0,4,10,3,2,1,3,5,0,0,0,0,0,0,3,11,1

8442,1985,Master,Married,19510.0,2,0,04-09-2013,63,9,0,7,3,4,7,2,1,0,3,7,0,0,0,0,0,0,3,11,0

7386,1976,Graduation,Divorced,30992.0,1,0,22-04-2013,83,17,0,14,7,3,2,1,1,0,3,7,0,0,0,0,0,0,3,11,0

7215,1983,Graduation,Single,101970.0,0,0,12-03-2013,69,722,27,102,44,72,168,0,6,8,13,2,0,1,1,1,0,0,3,11,1

1491,1965,2n Cycle,Together,71488.0,0,0,18-02-2013,87,162,33,124,40,28,172,2,3,4,7,1,0,0,0,0,0,0,3,11,0

11071,1984,Graduation,Single,79607.0,0,0,21-04-2013,37,450,133,951,173,0,216,1,3,6,6,1,0,0,0,0,0,0,3,11,1

3381,1953,Master,Married,54348.0,1,1,08-06-2014,51,70,0,16,0,0,4,2,2,0,4,6,0,0,0,0,0,0,3,11,0

8268,1961,PhD,Married,,0,1,11-07-2013,23,352,0,27,10,0,15,3,6,1,7,6,0,0,0,0,0,0,3,11,0

11051,1956,PhD,Together,77376.0,1,1,10-05-2014,72,492,19,110,16,12,12,4,6,3,10,4,0,0,0,0,0,0,3,11,0

8026,1952,Graduation,Married,62998.0,0,1,30-09-2013,10,120,58,73,65,89,58,5,5,4,5,5,0,0,0,0,0,0,3,11,0

433,1958,Master,Alone,61331.0,1,1,10-03-2013,42,534,5,47,0,5,41,5,11,1,6,8,0,0,0,0,0,0,3,11,0

9597,1969,Graduation,Married,73448.0,0,0,10-02-2014,10,236,106,189,23,41,130,1,7,2,9,4,0,0,0,0,0,0,3,11,0

1295,1963,Graduation,Married,,0,1,11-08-2013,96,231,65,196,38,71,124,1,6,5,7,4,0,0,0,0,0,0,3,11,0

5290,1964,PhD,Married,41551.0,1,1,14-08-2013,51,220,0,33,3,0,23,5,5,1,5,8,0,0,0,0,0,0,3,11,0

1685,1967,PhD,Together,62981.0,0,0,17-03-2013,21,796,14,590,38,44,0,1,4,5,13,3,0,1,0,0,0,0,3,11,0

5342,1976,Basic,Divorced,9548.0,1,0,08-08-2012,31,0,1,3,10,6,9,2,1,0,3,8,0,0,0,0,0,0,3,11,0

9579,1959,PhD,Married,33762.0,2,1,07-07-2013,61,53,1,34,2,0,16,3,2,2,2,8,0,0,0,0,0,0,3,11,0

7660,1973,PhD,Alone,35860.0,1,1,19-05-2014,37,15,0,8,4,2,20,2,1,1,2,5,1,0,0,0,0,0,3,11,1

1461,1965,PhD,Divorced,36921.0,1,1,28-07-2013,74,17,1,12,3,1,4,2,2,0,3,7,0,0,0,0,0,0,3,11,0

821,1992,Master,Single,92859.0,0,0,19-10-2012,46,962,61,921,52,61,20,1,5,4,12,2,0,0,0,0,0,0,3,11,0

11084,1976,Master,Together,65104.0,0,1,14-11-2013,4,738,0,232,13,20,50,2,3,5,7,7,0,0,0,0,0,0,3,11,1

8690,1962,Graduation,Married,86111.0,0,0,19-04-2013,73,399,28,756,36,40,126,1,5,7,10,2,0,0,0,0,0,0,3,11,0

2937,1974,PhD,Single,68352.0,0,1,28-08-2013,47,614,16,132,43,33,33,3,8,5,9,6,0,0,0,0,0,0,3,11,0

9701,1988,Graduation,Together,41883.0,1,0,19-03-2013,13,32,34,41,73,16,116,3,4,2,3,7,0,0,0,0,0,0,3,11,0

9949,1976,Graduation,Married,59809.0,0,2,18-10-2012,36,598,16,141,32,41,49,3,3,3,6,8,0,0,0,0,0,0,3,11,0

10837,1975,Graduation,Married,23957.0,1,0,28-10-2012,47,2,1,18,20,11,16,1,2,0,3,6,0,0,0,0,0,0,3,11,1

3120,1981,Graduation,Together,38547.0,1,0,28-08-2013,49,6,1,10,0,1,4,1,1,0,2,8,0,0,0,0,0,1,3,11,0

5885,1973,2n Cycle,Married,35688.0,2,1,22-08-2012,94,73,3,90,12,1,32,7,4,1,4,8,0,0,0,0,0,0,3,11,0

4050,1966,Master,Married,49605.0,0,0,21-06-2014,65,42,16,29,12,20,8,1,2,1,4,3,0,0,0,0,0,0,3,11,0

3830,1953,Master,Married,59354.0,0,2,24-04-2014,59,295,21,78,39,13,13,1,4,4,7,3,0,0,0,0,0,0,3,11,0

7987,1969,Graduation,Married,65747.0,0,1,07-03-2014,96,346,17,48,23,13,13,4,8,1,6,6,0,1,0,0,0,0,3,11,0

7798,1972,2n Cycle,Together,46344.0,0,1,14-12-2012,28,233,20,57,8,20,91,4,7,1,5,7,0,0,0,0,0,0,3,11,0

92,1988,Graduation,Alone,34176.0,1,0,12-05-2014,12,5,7,24,19,14,20,4,3,0,4,6,0,0,0,0,0,0,3,11,0

7055,1952,PhD,Together,61010.0,0,1,09-10-2012,57,888,0,57,0,0,76,2,8,5,11,5,0,0,0,0,0,0,3,11,0

10240,1949,Graduation,Together,69372.0,0,0,19-02-2013,10,997,26,269,34,13,42,1,10,4,6,4,0,1,1,0,0,0,3,11,1

3025,1958,Graduation,Single,49967.0,0,1,08-07-2013,4,212,6,69,4,12,3,3,6,1,5,7,0,0,0,0,0,0,3,11,0

9283,1978,Graduation,Single,60199.0,1,2,12-09-2013,49,8,1,7,2,0,0,1,0,0,3,4,0,0,0,0,0,0,3,11,0

9970,1977,Graduation,Together,55375.0,0,1,17-10-2013,3,42,11,57,10,28,14,1,1,1,6,2,0,0,0,0,0,0,3,11,0

2730,1955,Graduation,Single,80317.0,0,0,20-08-2013,64,536,11,387,149,91,57,1,3,4,10,1,0,0,0,0,0,0,3,11,0

2795,1958,Master,Single,30523.0,2,1,01-07-2013,0,5,0,3,0,0,5,1,1,0,2,7,0,0,0,0,0,0,3,11,0

9260,1945,PhD,Married,70356.0,0,0,05-11-2012,20,1349,16,249,43,16,33,2,10,6,9,6,0,0,0,0,0,0,3,11,0

8182,1984,Graduation,Married,23228.0,1,0,05-01-2014,91,53,3,49,7,4,5,4,3,0,4,8,0,0,0,0,0,0,3,11,0

10095,1975,PhD,Divorced,74165.0,0,0,01-05-2013,9,1001,12,240,16,12,12,1,5,4,10,2,0,0,0,0,0,0,3,11,0

8475,1973,PhD,Married,157243.0,0,1,01-03-2014,98,20,2,1582,1,2,1,15,0,22,0,0,0,0,0,0,0,0,3,11,0

4370,1966,Graduation,Together,43482.0,2,1,13-11-2013,83,18,1,32,6,3,28,3,2,0,4,6,0,0,0,0,0,0,3,11,0

10573,1953,Graduation,Divorced,62551.0,0,0,18-11-2013,27,125,16,98,134,21,27,1,6,7,4,3,1,0,0,0,0,0,3,11,0

3712,1959,Graduation,Divorced,52332.0,0,0,28-08-2013,63,212,5,33,7,0,2,1,3,2,6,4,0,1,0,0,0,0,3,11,0

6637,1988,Graduation,Single,66951.0,0,0,02-11-2013,46,277,162,305,173,76,124,1,3,4,7,1,0,0,0,0,0,0,3,11,0

3152,1957,Graduation,Together,26091.0,1,1,25-02-2014,84,15,10,19,8,17,20,3,2,1,3,5,0,0,0,0,0,0,3,11,0

5610,1965,Graduation,Together,33456.0,1,1,21-04-2014,58,7,3,10,8,1,7,2,1,0,3,7,0,0,0,0,0,0,3,11,0

6460,1982,Graduation,Married,28718.0,1,0,13-07-2013,78,12,4,6,11,8,16,2,2,0,3,8,0,0,0,0,0,0,3,11,0

1349,1970,Graduation,Married,50447.0,2,0,21-04-2014,4,85,7,24,2,3,27,1,3,1,3,6,0,0,0,0,0,0,3,11,0

1880,1959,PhD,Together,53537.0,1,1,30-01-2014,17,81,0,6,0,0,6,2,2,1,3,5,0,0,0,0,0,0,3,11,0

641,1967,Graduation,Single,52074.0,0,1,04-04-2014,77,59,0,12,0,0,48,1,2,2,2,4,1,0,0,0,0,0,3,11,0

8717,1975,PhD,Married,80427.0,0,1,12-09-2012,56,1149,71,449,69,71,26,1,11,8,8,5,0,0,0,0,0,0,3,11,0

10314,1948,PhD,Married,83837.0,0,0,16-12-2012,79,847,66,119,86,89,111,1,9,10,5,4,0,1,0,1,0,0,3,11,1

10854,1970,PhD,Married,38853.0,1,1,23-05-2014,90,29,0,14,0,0,2,2,2,0,3,7,0,0,0,0,0,0,3,11,0

10492,1959,Graduation,Together,38285.0,2,1,24-06-2014,96,2,0,5,2,0,1,1,0,0,3,2,0,0,0,0,0,0,3,11,0

6935,1951,2n Cycle,Married,78497.0,0,0,01-12-2013,44,207,26,447,75,0,223,1,5,7,12,2,0,0,0,1,0,0,3,11,0

7698,1976,PhD,Married,51650.0,0,1,11-05-2014,81,152,3,22,2,5,7,1,4,1,4,5,0,0,0,0,0,0,3,11,0

3559,1988,2n Cycle,Married,16248.0,1,0,10-05-2014,77,12,11,10,3,12,9,3,2,1,3,6,0,0,0,0,0,0,3,11,0

10562,1946,Master,Married,66835.0,0,0,28-09-2013,21,620,26,195,34,17,141,1,6,4,13,2,0,0,0,0,0,0,3,11,0

10796,1984,Master,Married,30477.0,1,0,22-01-2014,16,47,1,6,0,0,12,1,1,1,3,6,0,0,0,0,0,0,3,11,0

2563,1961,Basic,Married,28249.0,0,0,15-06-2014,80,1,9,7,2,14,10,1,2,0,3,6,0,0,0,0,0,0,3,11,0

3518,1983,Graduation,Married,25271.0,1,0,05-12-2012,45,10,1,18,10,4,7,1,1,1,2,9,0,0,0,0,0,0,3,11,0

5823,1970,PhD,Single,32303.0,0,1,08-03-2014,63,35,0,2,0,0,2,2,1,0,4,5,0,0,0,0,0,0,3,11,0

3934,1966,Graduation,Married,61286.0,0,1,02-08-2013,34,356,0,107,19,9,117,2,7,1,8,5,0,0,0,0,0,0,3,11,0

6982,1976,Graduation,Married,74068.0,0,0,19-03-2013,14,783,30,537,140,76,15,1,4,10,9,2,0,0,0,0,0,0,3,11,0

6431,1964,PhD,Married,45759.0,1,1,23-02-2013,13,42,1,18,3,0,4,2,2,0,3,7,0,0,0,0,0,0,3,11,0

9733,1978,Basic,Together,24882.0,1,0,09-09-2012,52,1,4,10,29,0,36,1,1,1,2,6,1,0,0,0,0,0,3,11,0

5602,1989,PhD,Together,66973.0,0,0,17-05-2013,98,466,22,432,147,113,102,1,8,7,12,3,0,0,0,0,0,0,3,11,0

7829,1900,2n Cycle,Divorced,36640.0,1,0,26-09-2013,99,15,6,8,7,4,25,1,2,1,2,5,0,0,0,0,0,1,3,11,0

1324,1988,Graduation,Married,38872.0,1,0,30-05-2013,93,23,3,21,3,19,22,2,3,0,3,8,0,0,0,0,0,0,3,11,0

326,1973,Graduation,Married,51148.0,1,1,18-02-2013,38,235,6,45,8,9,12,4,5,1,6,6,0,0,0,0,0,0,3,11,0

7224,1977,Graduation,Married,31353.0,1,1,29-12-2013,24,10,0,10,3,1,7,2,1,1,2,8,0,0,0,0,0,0,3,11,0

6999,1980,Master,Married,69661.0,0,0,13-05-2014,80,656,16,106,32,16,8,1,7,3,12,3,0,0,0,0,0,0,3,11,0


In [112]:
with open(file_path, 'r') as fp:
    for line in fp:
        print(line)
        # do some processing

ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response

5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1

2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0

4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0

6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0

5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,520,42,98,0,42,14,2,6,4,10,6,0,0,0,0,0,0,3,11,0

965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,235,65,164,50,49,27,4,7,3,7,6,0,0,0,0,0,0,3,11,0

6177,1985,PhD,Married,33454.0,1,0,08-05-2013,32,76,10,56,3,1,23,2,4,0,4,8,0,0,0,0,0,0,3,11,0

4855,1974,PhD,Together,30351.0,1,0,06-06-2013,19,14,0,24,3,3,2,1,3,0,2,9,0,0,0,0,0,0,3,11,1

5899,1950,PhD,Together,5648.0,1,1,13-03-2014,68,28,0,6,1,1,13,1,1,0,0,20,1,0,0,0,0,0,3,11,0

1994,1983,Graduation,Married,,1,0,15-11-2013,11,5,5,6,0,2,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0

387,1976,Basic,Married,7500.0,0,0,13-11-2012,59,6,16,11,11,1,16,1,2,0,3,8,0,0,0,0,0,0,3,11,0

2125,1959,Graduation,Divorced,63033.0,0,0,15-11-2013,82,194,61,480,225,112,30,1,3,4,8,2,0,0,0,0,0,0,3,11,0

8180,1952,Master,Divorced,59354.0,1,1,15-11-2013,53,233,2,53,3,5,14,3,6,1,5,6,0,0,0,0,0,0,3,11,0

2569,1987,Graduation,Married,17323.0,0,0,10-10-2012,38,3,14,17,6,1,5,1,1,0,3,8,0,0,0,0,0,0,3,11,0

2114,1946,PhD,Single,82800.0,0,0,24-11-2012,23,1006,22,115,59,68,45,1,7,6,12,3,0,0,1,1,0,0,3,11,1

9736,1980,Graduation,Married,41850.0,1,1,24-12-2012,51,53,5,19,2,13,4,3,3,0,3,8,0,0,0,0,0,0,3,11,0

4939,1946,Graduation,Together,37760.0,0,0,31-08-2012,20,84,5,38,150,12,28,2,4,1,6,7,0,0,0,0,0,0,3,11,0

6565,1949,Master,Married,76995.0,0,1,28-03-2013,91,1012,80,498,0,16,176,2,11,4,9,5,0,0,0,1,0,0,3,11,0

2278,1985,2n Cycle,Single,33812.0,1,0,03-11-2012,86,4,17,19,30,24,39,2,2,1,3,6,0,0,0,0,0,0,3,11,0

9360,1982,Graduation,Married,37040.0,0,0,08-08-2012,41,86,2,73,69,38,48,1,4,2,5,8,0,0,0,0,0,0,3,11,0

5376,1979,Graduation,Married,2447.0,1,0,06-01-2013,42,1,1,1725,1,1,1,15,0,28,0,1,0,0,0,0,0,0,3,11,0

1993,1949,PhD,Married,58607.0,0,1,23-12-2012,63,867,0,86,0,0,19,3,2,3,9,8,0,1,0,0,0,0,3,11,0

4047,1954,PhD,Married,65324.0,0,1,11-01-2014,0,384,0,102,21,32,5,3,6,2,9,4,0,0,0,0,0,0,3,11,0

1409,1951,Graduation,Together,40689.0,0,1,18-03-2013,69,270,3,27,39,6,99,7,7,1,5,8,0,0,0,0,0,0,3,11,0

7892,1969,Graduation,Single,18589.0,0,0,02-01-2013,89,6,4,25,15,12,13,2,2,1,3,7,0,0,0,0,0,0,3,11,0

2404,1976,Graduation,Married,53359.0,1,1,27-05-2013,4,173,4,30,3,6,41,4,5,1,4,7,0,0,0,0,0,0,3,11,0

5255,1986,Graduation,Single,,1,0,20-02-2013,19,5,1,3,3,263,362,0,27,0,0,1,0,0,0,0,0,0,3,11,0

9422,1989,Graduation,Married,38360.0,1,0,31-05-2013,26,36,2,42,20,21,10,2,2,1,4,3,0,0,0,0,0,0,3,11,0

1966,1965,PhD,Married,84618.0,0,0,22-11-2013,96,684,100,801,21,66,0,1,6,9,10,2,0,0,1,0,0,0,3,11,0

6864,1989,Master,Divorced,10979.0,0,0,22-05-2014,34,8,4,10,2,2,4,2,3,0,3,5,0,0,0,0,0,0,3,11,0

3033,1963,Master,Together,38620.0,0,0,11-05-2013,56,112,17,44,34,22,89,1,2,5,3,3,0,0,0,0,0,0,3,11,0

5710,1970,Graduation,Together,40548.0,0,1,10-10-2012,31,110,0,5,2,0,3,2,2,1,4,5,0,1,0,0,0,0,3,11,0

7373,1952,PhD,Divorced,46610.0,0,2,29-10-2012,8,96,12,96,33,22,43,6,4,1,6,6,0,0,0,0,0,0,3,11,1

8755,1946,Master,Married,68657.0,0,0,20-02-2013,4,482,34,471,119,68,22,1,3,5,9,7,0,0,0,0,0,0,3,11,0

10738,1951,Master,Single,49389.0,1,1,29-08-2013,55,40,0,19,2,1,3,1,2,0,3,7,0,0,0,0,0,0,3,11,0

4339,1970,PhD,Married,67353.0,0,1,31-12-2013,37,702,17,151,0,8,35,5,5,6,12,2,0,0,0,0,0,0,3,11,0

10755,1976,2n Cycle,Married,23718.0,1,0,02-09-2013,76,6,3,14,15,7,36,3,3,1,2,7,0,0,0,0,0,0,3,11,0

8595,1973,Graduation,Widow,42429.0,0,1,11-02-2014,99,55,0,6,2,0,4,2,1,1,3,5,0,0,0,0,0,0,3,11,0

2968,1943,PhD,Divorced,48948.0,0,0,01-02-2013,53,437,8,206,160,49,42,2,7,10,5,6,1,0,0,0,0,0,3,11,1

8601,1980,Graduation,Married,80011.0,0,1,29-04-2013,3,421,76,536,82,178,102,2,8,6,5,4,0,0,0,0,0,0,3,11,0

503,1985,Master,Married,20559.0,1,0,12-03-2013,88,13,1,29,3,0,7,2,2,0,3,8,0,0,0,0,0,0,3,11,0

8430,1957,Graduation,Together,21994.0,0,1,24-12-2012,4,9,0,6,3,1,3,1,0,0,3,5,0,0,0,0,0,0,3,11,0

7281,1959,PhD,Single,,0,0,05-11-2013,80,81,11,50,3,2,39,1,1,3,4,2,0,0,0,0,0,0,3,11,0

2139,1975,Master,Married,7500.0,1,0,02-10-2013,19,3,1,10,3,2,12,3,2,0,3,5,0,0,0,0,0,0,3,11,0

1371,1976,Graduation,Single,79941.0,0,0,28-06-2014,72,123,164,266,227,30,174,1,2,4,9,1,0,0,0,0,0,0,3,11,0

9909,1996,2n Cycle,Married,7500.0,0,0,09-11-2012,24,3,18,14,15,22,50,3,3,1,3,9,0,0,0,0,0,0,3,11,1

7286,1968,Graduation,Together,41728.0,1,0,24-05-2013,92,13,6,15,3,5,13,1,2,0,2,10,0,0,0,0,0,0,3,11,0

7244,1951,Graduation,Single,,2,1,01-01-2014,96,48,5,48,6,10,7,3,2,1,4,6,0,0,0,0,0,0,3,11,0

6566,1954,PhD,Married,72550.0,1,1,08-11-2012,39,826,50,317,50,38,38,9,5,2,12,8,0,0,0,0,0,0,3,11,0

8614,1957,Graduation,Widow,65486.0,0,1,12-05-2014,29,245,19,125,37,67,14,1,4,2,10,2,0,0,0,0,0,0,3,11,0

4114,1964,Master,Married,79143.0,0,0,11-08-2012,2,650,37,780,27,167,32,1,6,9,13,3,0,0,0,0,0,0,3,11,0

1331,1977,Graduation,Single,35790.0,1,0,02-01-2013,54,12,6,20,30,1,3,2,2,0,3,7,0,0,0,0,0,0,3,11,0

2225,1977,Graduation,Divorced,82582.0,0,0,07-06-2014,54,510,120,550,156,40,241,1,4,9,7,1,1,0,0,1,0,0,3,11,1

9381,1978,Graduation,Married,66373.0,1,1,12-06-2013,57,328,9,124,12,24,109,7,4,2,10,3,0,0,0,0,0,0,3,11,0

6260,1955,Master,Together,82384.0,0,0,19-11-2012,55,984,51,432,180,120,190,1,3,10,13,1,0,0,1,0,0,0,3,11,1

10383,1966,Graduation,Divorced,70287.0,0,0,02-04-2013,30,295,35,482,121,120,40,1,5,5,10,3,0,0,0,0,0,0,3,11,1

7437,1988,Graduation,Single,27938.0,1,0,28-04-2014,31,13,0,8,2,1,5,1,1,0,4,3,0,0,0,0,0,0,3,11,0

8557,1982,Graduation,Single,,1,0,17-06-2013,57,11,3,22,2,2,6,2,2,0,3,6,0,0,0,0,0,0,3,11,0

8375,1968,PhD,Married,55954.0,0,1,03-03-2014,63,447,0,28,0,0,43,3,8,2,6,7,0,0,0,0,0,0,3,11,0

6853,1982,Master,Single,75777.0,0,0,04-07-2013,12,712,26,538,69,13,80,1,3,6,11,1,0,1,1,0,0,0,3,11,1

3076,1975,Graduation,Together,66653.0,1,1,07-09-2012,18,452,18,102,16,18,6,4,4,2,12,3,0,0,0,0,0,0,3,11,0

1012,1952,Graduation,Single,61823.0,0,1,18-02-2013,26,523,7,134,37,14,169,4,8,2,10,7,0,0,0,0,0,0,3,11,0

6518,1951,PhD,Widow,67680.0,0,1,11-06-2013,8,546,0,48,0,6,6,1,7,3,8,5,0,0,0,0,0,0,3,11,0

4137,1948,Graduation,Together,70666.0,0,0,06-12-2013,29,398,40,367,119,122,30,1,7,4,4,4,0,0,0,0,0,0,3,11,0

8082,1971,Graduation,Married,25721.0,1,0,21-05-2013,75,1,3,6,3,6,15,1,1,1,2,7,0,0,0,0,0,0,3,11,1

1386,1967,Graduation,Together,32474.0,1,1,11-05-2014,0,10,0,1,0,0,0,1,1,0,2,7,0,0,0,0,0,0,3,11,0

9369,1979,2n Cycle,Single,88194.0,0,1,19-03-2014,19,688,14,309,201,24,38,1,11,10,10,5,1,0,0,1,0,0,3,11,1

4477,1958,Graduation,Together,69096.0,0,1,27-09-2013,4,247,49,159,7,82,109,1,5,2,10,4,0,0,0,0,0,0,3,11,0

1357,1970,Graduation,Together,74854.0,1,2,08-04-2013,90,856,59,487,58,29,73,7,2,5,5,5,0,0,0,0,0,0,3,11,0

1402,1954,Master,Married,66991.0,0,0,11-09-2012,1,496,36,460,189,60,12,3,4,8,6,3,0,0,0,0,0,0,3,11,0

10629,1973,2n Cycle,Married,,1,0,14-09-2012,25,25,3,43,17,4,17,3,3,0,3,8,0,0,0,0,0,0,3,11,0

6312,1959,Graduation,Married,65031.0,0,1,17-03-2013,29,258,107,291,84,37,86,4,10,3,13,7,0,0,0,0,0,0,3,11,0

8132,1975,PhD,Married,60631.0,1,1,05-04-2013,88,565,6,65,0,6,19,5,9,2,8,7,0,1,0,0,0,0,3,11,0

1050,1952,Graduation,Married,28332.0,0,0,30-04-2014,58,14,10,13,4,15,9,1,2,1,4,2,0,0,0,0,0,0,3,11,0

5846,1977,Graduation,Divorced,40246.0,1,0,19-12-2012,68,2,1,6,2,1,1,1,1,0,2,6,0,0,0,0,0,0,3,11,0

1859,1972,Master,Married,75251.0,0,0,27-08-2012,34,721,111,925,97,18,18,1,7,6,5,5,0,0,0,0,0,0,3,11,1

7503,1976,Graduation,Single,75825.0,0,0,12-10-2012,40,1032,105,779,137,105,51,0,5,8,9,4,1,0,0,0,0,0,3,11,1

10401,1976,2n Cycle,Together,26326.0,0,0,04-09-2013,12,1,0,5,0,3,9,1,0,0,3,3,0,0,0,0,0,1,3,11,0

1618,1965,Graduation,Together,56046.0,0,0,02-01-2013,9,577,0,64,0,0,51,2,10,1,8,8,1,0,0,0,0,0,3,11,1

3332,1985,Graduation,Single,29760.0,1,0,29-08-2012,87,64,4,68,7,5,17,4,3,1,4,8,0,0,0,0,0,0,3,11,0

2261,1969,Graduation,Married,26304.0,1,0,23-06-2013,5,4,1,5,2,0,4,1,1,0,2,7,0,0,0,0,0,0,3,11,0

5346,1973,2n Cycle,Married,23559.0,1,0,03-07-2013,87,25,5,19,7,0,23,3,3,0,3,7,0,0,0,0,0,0,3,11,0

4119,1963,Master,Together,38620.0,0,0,11-05-2013,56,112,17,44,34,22,89,1,2,5,3,3,0,0,0,0,0,0,3,11,0

535,1987,Graduation,Divorced,81361.0,0,0,25-02-2014,18,163,23,424,27,65,76,1,3,10,13,1,0,0,0,0,0,0,3,11,0

5268,1960,Graduation,Married,29440.0,1,1,11-08-2013,95,17,8,14,10,4,3,2,1,0,4,7,0,0,0,0,0,0,3,11,0

273,1970,Master,Married,36138.0,1,1,16-07-2013,48,130,0,16,0,0,5,5,3,1,4,7,0,1,0,0,0,0,3,11,0

4452,1957,Graduation,Single,50388.0,0,1,28-05-2014,3,292,6,37,0,3,34,4,6,1,6,7,0,1,0,1,0,0,3,11,1

8504,1973,Graduation,Married,79593.0,0,0,12-05-2014,70,350,60,568,110,133,145,1,5,6,7,2,0,0,1,0,0,0,3,11,0

771,1967,Graduation,Together,54178.0,0,1,21-01-2014,79,135,9,39,4,0,7,1,2,2,5,2,0,0,0,0,0,0,3,11,0

8996,1957,PhD,Married,,2,1,19-11-2012,4,230,42,192,49,37,53,12,7,2,8,9,0,0,0,0,0,0,3,11,0

9235,1957,Graduation,Single,,1,1,27-05-2014,45,7,0,8,2,0,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0

5798,1973,Master,Together,,0,0,23-11-2013,87,445,37,359,98,28,18,1,2,4,8,1,0,0,0,0,0,0,3,11,0

11178,1972,Master,Single,42394.0,1,0,23-03-2014,69,15,2,10,0,1,4,1,1,0,3,7,0,0,0,0,0,0,3,11,0

2230,1970,PhD,Married,23626.0,1,0,24-05-2014,84,27,2,14,0,0,0,3,3,1,3,5,0,0,0,0,0,0,3,11,0

7516,1983,Graduation,Married,30096.0,1,0,22-05-2014,30,5,3,11,12,5,9,1,2,0,3,6,0,0,0,0,0,0,3,11,0

7247,1960,Graduation,Widow,47916.0,0,1,22-11-2012,72,505,0,26,0,0,75,5,7,4,6,6,0,1,0,0,0,0,3,11,0

11100,1972,Graduation,Divorced,51813.0,1,1,11-04-2013,37,51,2,7,0,1,2,2,2,0,3,7,0,0,0,0,0,0,3,11,0

4646,1951,2n Cycle,Married,78497.0,0,0,01-12-2013,44,207,26,447,75,0,223,1,5,7,12,2,0,0,0,1,0,0,3,11,0

3037,1983,PhD,Married,50150.0,0,0,20-06-2013,32,135,46,92,65,61,11,2,5,2,7,5,0,0,0,0,0,0,3,11,0

1473,1960,2n Cycle,Single,47823.0,0,1,23-07-2013,0,53,1,5,2,1,10,2,2,0,3,8,0,0,0,0,0,0,3,11,0

1016,1959,PhD,Single,34554.0,0,1,30-03-2014,43,41,1,6,2,0,5,2,2,0,3,6,0,0,0,0,0,0,3,11,0

4518,1979,Graduation,Together,85693.0,0,1,20-04-2013,59,386,172,183,185,132,111,2,9,5,11,5,0,0,0,0,0,0,3,11,0

9370,1945,PhD,Married,65846.0,0,0,17-05-2013,68,562,81,276,80,40,81,1,6,3,6,4,0,0,0,0,0,0,3,11,0

8908,1959,Graduation,Married,87195.0,0,0,08-05-2014,35,217,76,690,50,26,38,1,3,11,5,1,0,0,0,0,0,0,3,11,1

8373,1979,Basic,Together,24594.0,1,0,10-12-2013,94,1,3,6,10,0,9,1,1,0,3,5,0,0,0,0,0,0,3,11,0

7533,1964,Graduation,Married,49096.0,1,1,24-09-2013,15,144,1,32,2,1,7,4,4,1,4,7,0,0,0,0,0,0,3,11,0

2683,1969,Graduation,Married,52413.0,0,2,02-02-2013,56,295,106,271,75,98,65,4,6,4,12,6,0,0,0,0,0,0,3,11,0

3629,1978,Graduation,Single,38557.0,1,0,19-12-2012,17,76,3,31,4,4,27,2,3,1,3,7,0,0,0,0,0,0,3,11,0

10991,1960,Master,Married,89058.0,0,0,07-12-2012,18,454,194,106,31,22,43,1,5,4,4,2,0,0,0,0,0,0,3,11,0

5077,1979,Graduation,Together,77298.0,0,1,02-11-2013,46,425,115,292,23,35,79,1,6,6,11,3,0,0,0,0,0,0,3,11,0

7431,1991,PhD,Single,68126.0,0,0,10-11-2012,40,1332,17,311,23,51,86,1,7,4,5,9,0,1,0,0,0,0,3,11,1

3267,1963,Master,Together,57288.0,0,1,25-06-2014,27,527,0,21,0,0,60,3,8,1,8,6,0,1,0,0,0,0,3,11,0

999,1991,Graduation,Single,86037.0,0,0,02-01-2013,95,490,44,125,29,20,22,1,6,7,11,3,0,1,1,0,0,0,3,11,1

9215,1980,PhD,Married,43974.0,1,0,12-12-2012,19,378,0,101,0,0,72,5,6,4,6,7,0,0,0,0,0,0,3,11,0

2286,1962,Graduation,Single,50785.0,1,1,10-09-2013,27,64,1,21,0,1,27,2,2,1,3,6,0,0,0,0,0,0,3,11,0

1592,1970,Graduation,Married,90765.0,0,0,24-01-2014,25,547,99,812,151,82,33,0,4,6,5,1,0,0,1,1,0,0,3,11,0

367,1978,2n Cycle,Married,36550.0,1,0,19-02-2013,74,47,90,94,123,103,120,5,9,1,5,9,0,0,0,0,0,0,3,11,0

5234,1967,2n Cycle,Together,30753.0,1,1,11-07-2013,85,12,5,25,0,9,30,2,1,1,3,5,0,0,0,0,0,0,3,11,0

9862,1969,Graduation,Together,21918.0,1,0,14-11-2013,37,1,6,7,11,5,3,2,2,0,3,6,0,0,0,0,0,0,3,11,0

9805,1953,Master,Together,56129.0,0,1,20-06-2013,65,320,48,133,39,72,48,4,6,2,10,4,0,0,0,0,0,0,3,11,0

6205,1967,Master,Single,32557.0,1,0,24-02-2014,13,34,3,29,0,4,10,3,2,1,3,5,0,0,0,0,0,0,3,11,1

8442,1985,Master,Married,19510.0,2,0,04-09-2013,63,9,0,7,3,4,7,2,1,0,3,7,0,0,0,0,0,0,3,11,0

7386,1976,Graduation,Divorced,30992.0,1,0,22-04-2013,83,17,0,14,7,3,2,1,1,0,3,7,0,0,0,0,0,0,3,11,0

7215,1983,Graduation,Single,101970.0,0,0,12-03-2013,69,722,27,102,44,72,168,0,6,8,13,2,0,1,1,1,0,0,3,11,1

1491,1965,2n Cycle,Together,71488.0,0,0,18-02-2013,87,162,33,124,40,28,172,2,3,4,7,1,0,0,0,0,0,0,3,11,0

11071,1984,Graduation,Single,79607.0,0,0,21-04-2013,37,450,133,951,173,0,216,1,3,6,6,1,0,0,0,0,0,0,3,11,1

3381,1953,Master,Married,54348.0,1,1,08-06-2014,51,70,0,16,0,0,4,2,2,0,4,6,0,0,0,0,0,0,3,11,0

8268,1961,PhD,Married,,0,1,11-07-2013,23,352,0,27,10,0,15,3,6,1,7,6,0,0,0,0,0,0,3,11,0

11051,1956,PhD,Together,77376.0,1,1,10-05-2014,72,492,19,110,16,12,12,4,6,3,10,4,0,0,0,0,0,0,3,11,0

8026,1952,Graduation,Married,62998.0,0,1,30-09-2013,10,120,58,73,65,89,58,5,5,4,5,5,0,0,0,0,0,0,3,11,0

433,1958,Master,Alone,61331.0,1,1,10-03-2013,42,534,5,47,0,5,41,5,11,1,6,8,0,0,0,0,0,0,3,11,0

9597,1969,Graduation,Married,73448.0,0,0,10-02-2014,10,236,106,189,23,41,130,1,7,2,9,4,0,0,0,0,0,0,3,11,0

1295,1963,Graduation,Married,,0,1,11-08-2013,96,231,65,196,38,71,124,1,6,5,7,4,0,0,0,0,0,0,3,11,0

5290,1964,PhD,Married,41551.0,1,1,14-08-2013,51,220,0,33,3,0,23,5,5,1,5,8,0,0,0,0,0,0,3,11,0

1685,1967,PhD,Together,62981.0,0,0,17-03-2013,21,796,14,590,38,44,0,1,4,5,13,3,0,1,0,0,0,0,3,11,0

5342,1976,Basic,Divorced,9548.0,1,0,08-08-2012,31,0,1,3,10,6,9,2,1,0,3,8,0,0,0,0,0,0,3,11,0

9579,1959,PhD,Married,33762.0,2,1,07-07-2013,61,53,1,34,2,0,16,3,2,2,2,8,0,0,0,0,0,0,3,11,0

7660,1973,PhD,Alone,35860.0,1,1,19-05-2014,37,15,0,8,4,2,20,2,1,1,2,5,1,0,0,0,0,0,3,11,1

1461,1965,PhD,Divorced,36921.0,1,1,28-07-2013,74,17,1,12,3,1,4,2,2,0,3,7,0,0,0,0,0,0,3,11,0

821,1992,Master,Single,92859.0,0,0,19-10-2012,46,962,61,921,52,61,20,1,5,4,12,2,0,0,0,0,0,0,3,11,0

11084,1976,Master,Together,65104.0,0,1,14-11-2013,4,738,0,232,13,20,50,2,3,5,7,7,0,0,0,0,0,0,3,11,1

8690,1962,Graduation,Married,86111.0,0,0,19-04-2013,73,399,28,756,36,40,126,1,5,7,10,2,0,0,0,0,0,0,3,11,0

2937,1974,PhD,Single,68352.0,0,1,28-08-2013,47,614,16,132,43,33,33,3,8,5,9,6,0,0,0,0,0,0,3,11,0

9701,1988,Graduation,Together,41883.0,1,0,19-03-2013,13,32,34,41,73,16,116,3,4,2,3,7,0,0,0,0,0,0,3,11,0

9949,1976,Graduation,Married,59809.0,0,2,18-10-2012,36,598,16,141,32,41,49,3,3,3,6,8,0,0,0,0,0,0,3,11,0

10837,1975,Graduation,Married,23957.0,1,0,28-10-2012,47,2,1,18,20,11,16,1,2,0,3,6,0,0,0,0,0,0,3,11,1

3120,1981,Graduation,Together,38547.0,1,0,28-08-2013,49,6,1,10,0,1,4,1,1,0,2,8,0,0,0,0,0,1,3,11,0

5885,1973,2n Cycle,Married,35688.0,2,1,22-08-2012,94,73,3,90,12,1,32,7,4,1,4,8,0,0,0,0,0,0,3,11,0

4050,1966,Master,Married,49605.0,0,0,21-06-2014,65,42,16,29,12,20,8,1,2,1,4,3,0,0,0,0,0,0,3,11,0

3830,1953,Master,Married,59354.0,0,2,24-04-2014,59,295,21,78,39,13,13,1,4,4,7,3,0,0,0,0,0,0,3,11,0

7987,1969,Graduation,Married,65747.0,0,1,07-03-2014,96,346,17,48,23,13,13,4,8,1,6,6,0,1,0,0,0,0,3,11,0

7798,1972,2n Cycle,Together,46344.0,0,1,14-12-2012,28,233,20,57,8,20,91,4,7,1,5,7,0,0,0,0,0,0,3,11,0

92,1988,Graduation,Alone,34176.0,1,0,12-05-2014,12,5,7,24,19,14,20,4,3,0,4,6,0,0,0,0,0,0,3,11,0

7055,1952,PhD,Together,61010.0,0,1,09-10-2012,57,888,0,57,0,0,76,2,8,5,11,5,0,0,0,0,0,0,3,11,0

10240,1949,Graduation,Together,69372.0,0,0,19-02-2013,10,997,26,269,34,13,42,1,10,4,6,4,0,1,1,0,0,0,3,11,1

3025,1958,Graduation,Single,49967.0,0,1,08-07-2013,4,212,6,69,4,12,3,3,6,1,5,7,0,0,0,0,0,0,3,11,0

9283,1978,Graduation,Single,60199.0,1,2,12-09-2013,49,8,1,7,2,0,0,1,0,0,3,4,0,0,0,0,0,0,3,11,0

9970,1977,Graduation,Together,55375.0,0,1,17-10-2013,3,42,11,57,10,28,14,1,1,1,6,2,0,0,0,0,0,0,3,11,0

2730,1955,Graduation,Single,80317.0,0,0,20-08-2013,64,536,11,387,149,91,57,1,3,4,10,1,0,0,0,0,0,0,3,11,0

2795,1958,Master,Single,30523.0,2,1,01-07-2013,0,5,0,3,0,0,5,1,1,0,2,7,0,0,0,0,0,0,3,11,0

9260,1945,PhD,Married,70356.0,0,0,05-11-2012,20,1349,16,249,43,16,33,2,10,6,9,6,0,0,0,0,0,0,3,11,0

8182,1984,Graduation,Married,23228.0,1,0,05-01-2014,91,53,3,49,7,4,5,4,3,0,4,8,0,0,0,0,0,0,3,11,0

10095,1975,PhD,Divorced,74165.0,0,0,01-05-2013,9,1001,12,240,16,12,12,1,5,4,10,2,0,0,0,0,0,0,3,11,0

8475,1973,PhD,Married,157243.0,0,1,01-03-2014,98,20,2,1582,1,2,1,15,0,22,0,0,0,0,0,0,0,0,3,11,0

4370,1966,Graduation,Together,43482.0,2,1,13-11-2013,83,18,1,32,6,3,28,3,2,0,4,6,0,0,0,0,0,0,3,11,0

10573,1953,Graduation,Divorced,62551.0,0,0,18-11-2013,27,125,16,98,134,21,27,1,6,7,4,3,1,0,0,0,0,0,3,11,0

3712,1959,Graduation,Divorced,52332.0,0,0,28-08-2013,63,212,5,33,7,0,2,1,3,2,6,4,0,1,0,0,0,0,3,11,0

6637,1988,Graduation,Single,66951.0,0,0,02-11-2013,46,277,162,305,173,76,124,1,3,4,7,1,0,0,0,0,0,0,3,11,0

3152,1957,Graduation,Together,26091.0,1,1,25-02-2014,84,15,10,19,8,17,20,3,2,1,3,5,0,0,0,0,0,0,3,11,0

5610,1965,Graduation,Together,33456.0,1,1,21-04-2014,58,7,3,10,8,1,7,2,1,0,3,7,0,0,0,0,0,0,3,11,0

6460,1982,Graduation,Married,28718.0,1,0,13-07-2013,78,12,4,6,11,8,16,2,2,0,3,8,0,0,0,0,0,0,3,11,0

1349,1970,Graduation,Married,50447.0,2,0,21-04-2014,4,85,7,24,2,3,27,1,3,1,3,6,0,0,0,0,0,0,3,11,0

1880,1959,PhD,Together,53537.0,1,1,30-01-2014,17,81,0,6,0,0,6,2,2,1,3,5,0,0,0,0,0,0,3,11,0

641,1967,Graduation,Single,52074.0,0,1,04-04-2014,77,59,0,12,0,0,48,1,2,2,2,4,1,0,0,0,0,0,3,11,0

8717,1975,PhD,Married,80427.0,0,1,12-09-2012,56,1149,71,449,69,71,26,1,11,8,8,5,0,0,0,0,0,0,3,11,0

10314,1948,PhD,Married,83837.0,0,0,16-12-2012,79,847,66,119,86,89,111,1,9,10,5,4,0,1,0,1,0,0,3,11,1

10854,1970,PhD,Married,38853.0,1,1,23-05-2014,90,29,0,14,0,0,2,2,2,0,3,7,0,0,0,0,0,0,3,11,0

10492,1959,Graduation,Together,38285.0,2,1,24-06-2014,96,2,0,5,2,0,1,1,0,0,3,2,0,0,0,0,0,0,3,11,0

6935,1951,2n Cycle,Married,78497.0,0,0,01-12-2013,44,207,26,447,75,0,223,1,5,7,12,2,0,0,0,1,0,0,3,11,0

7698,1976,PhD,Married,51650.0,0,1,11-05-2014,81,152,3,22,2,5,7,1,4,1,4,5,0,0,0,0,0,0,3,11,0

3559,1988,2n Cycle,Married,16248.0,1,0,10-05-2014,77,12,11,10,3,12,9,3,2,1,3,6,0,0,0,0,0,0,3,11,0

10562,1946,Master,Married,66835.0,0,0,28-09-2013,21,620,26,195,34,17,141,1,6,4,13,2,0,0,0,0,0,0,3,11,0

10796,1984,Master,Married,30477.0,1,0,22-01-2014,16,47,1,6,0,0,12,1,1,1,3,6,0,0,0,0,0,0,3,11,0

2563,1961,Basic,Married,28249.0,0,0,15-06-2014,80,1,9,7,2,14,10,1,2,0,3,6,0,0,0,0,0,0,3,11,0

3518,1983,Graduation,Married,25271.0,1,0,05-12-2012,45,10,1,18,10,4,7,1,1,1,2,9,0,0,0,0,0,0,3,11,0

5823,1970,PhD,Single,32303.0,0,1,08-03-2014,63,35,0,2,0,0,2,2,1,0,4,5,0,0,0,0,0,0,3,11,0

3934,1966,Graduation,Married,61286.0,0,1,02-08-2013,34,356,0,107,19,9,117,2,7,1,8,5,0,0,0,0,0,0,3,11,0

6982,1976,Graduation,Married,74068.0,0,0,19-03-2013,14,783,30,537,140,76,15,1,4,10,9,2,0,0,0,0,0,0,3,11,0

6431,1964,PhD,Married,45759.0,1,1,23-02-2013,13,42,1,18,3,0,4,2,2,0,3,7,0,0,0,0,0,0,3,11,0

9733,1978,Basic,Together,24882.0,1,0,09-09-2012,52,1,4,10,29,0,36,1,1,1,2,6,1,0,0,0,0,0,3,11,0

5602,1989,PhD,Together,66973.0,0,0,17-05-2013,98,466,22,432,147,113,102,1,8,7,12,3,0,0,0,0,0,0,3,11,0

7829,1900,2n Cycle,Divorced,36640.0,1,0,26-09-2013,99,15,6,8,7,4,25,1,2,1,2,5,0,0,0,0,0,1,3,11,0

1324,1988,Graduation,Married,38872.0,1,0,30-05-2013,93,23,3,21,3,19,22,2,3,0,3,8,0,0,0,0,0,0,3,11,0

326,1973,Graduation,Married,51148.0,1,1,18-02-2013,38,235,6,45,8,9,12,4,5,1,6,6,0,0,0,0,0,0,3,11,0

7224,1977,Graduation,Married,31353.0,1,1,29-12-2013,24,10,0,10,3,1,7,2,1,1,2,8,0,0,0,0,0,0,3,11,0

6999,1980,Master,Married,69661.0,0,0,13-05-2014,80,656,16,106,32,16,8,1,7,3,12,3,0,0,0,0,0,0,3,11,0


## Write

The write function is primarily used when you want to write data to a file. Here's an overview of how it works:. To write to a file, the mode argument must be set to **w**.

In [113]:
with open('data/chat.txt', 'w') as file:
    continue_writing = True
    while continue_writing:
        text = input('What do you want to write to the file (One line at a time, hit enter to complete. Or type STOP to finish writing)? ')
        print('received ', text)
        if text == 'STOP':
            print('stop writing to file')
            break
        print('  write this text into file')
        file.write(text + '\n')

received  STOP
stop writing to file

We can read the file to see if it worked:

In [114]:
with open('data/chat.txt', 'r') as file:
    print(file.read())

<hr>
<h2 id="Append">Appending Files</h2>

We can write to files without losing any of the existing data as follows by setting the mode argument to append: **a**.  you can append a new line as follows:

In [115]:
with open('data/chat.txt', 'a') as file:
    file.write("This is an appended line.\n")

We can verify the file has changed:

In [116]:
with open('data/chat.txt', 'r') as file:
    print(file.read())

This is an appended line.

<hr>
<h2 id="add">Additional modes</h2>

It is quite inefficient to open the file first in a or w mode to write and then reopen it in r mode to read lines. Fortunately, we have access to the file in these modes:

- **r+**: For reading and writing, but it can't truncate the file.
- **w+**: For writing and reading, but it truncates the file.
- **a+**: For appending and reading, and it creates a new file if one doesn't exist.

In [117]:
# Appending+ mode
with open('data/new_file.txt', 'a+') as file:
    file.write("This is a new line.\n")
    file.seek(0,0)
    print(file.read())

This is a new line.
This is a new line.

# Exercise

You have two text files, `source.txt` and `destination.txt`. Follow the instructions below and write Python code to complete the tasks.

- 1- Open the source.txt file in read-only mode and print its content line by line.

- 2- Open the destination.txt file in append mode, copy the content of source.txt to it, and read the file. 

- 3- Open the destination.txt file in read mode and count the number of characters in the file.

In [118]:
# Open the source.txt file in read-only mode and print its content line by line.
file_path = 'data/source.txt'
with open(file_path, 'r') as file:
    lines = file.readlines()
    for line in lines:
        print(line)

This is the source file.

It contains multiple lines of text.

In [119]:
# Open the destination.txt file in append mode, copy the content of source.txt to it, and read the file.

In [120]:
# Open the destination.txt file in read mode and count the number of characters in the file.

<hr br>

# JSON Files

In [121]:
import json

# Reading JSON to a File

The JSON package has json.load() function that loads the json content from a json file into a dictionary.

In [122]:
# Read a JSON file
file_path = 'data/employee_details.json'
with open(file_path, 'r') as file:
    data = json.load(file)
print('data is of type ', type(data))
data

data is of type  <class 'dict'>

{'firstName': 'John',
 'lastName': 'Smith',
 'isAlive': True,
 'age': 27,
 'address': {'streetAddress': '21 2nd Street',
  'city': 'New York',
  'state': 'NY',
  'postalCode': '10021-3100'},
 'phoneNumbers': [{'type': 'home', 'number': '212 555-1234'},
  {'type': 'office', 'number': '646 555-4567'}],
 'children': None,
 'spouse': None}

In [123]:
# Retreiving data 
data['firstName']

'John'

In [124]:
# Retreiving the data 
data['phoneNumbers']

[{'type': 'home', 'number': '212 555-1234'},
 {'type': 'office', 'number': '646 555-4567'}]

# Exercise

Check all the phone numbers that John has, and print only the office number.

In [125]:
# we go through each phone entry, and check if there is an office number

# to loop
for phone_data in data['phoneNumbers']:
    # phone data is a dictionary comprising of type and number.
    print('phone data ', phone_data)

    # YOUR CODE HERE
    # check if this phone is from office
    # if yes, print it out
    if phone_data['type'] == 'office':
        print(f"office number is {phone_data['number']}")

phone data  {'type': 'home', 'number': '212 555-1234'}
phone data  {'type': 'office', 'number': '646 555-4567'}
office number is 646 555-4567

# Writing JSON to a File

The JSON library uses the **dump()** or **dumps()** function to convert the Python objects into their respective JSON object.

In [126]:
# Writing JSON to a file
laptop_data = {
    'brand': 'Apple',
    'model': 'Macbook Pro',
    'manufactured_year': 2016
}
with open('data/laptop.json', 'w') as f:
    json.dump(laptop_data, f)

In [127]:
# Reading the file
with open('data/laptop.json', 'r') as file:
    print(json.load(file))

{'brand': 'Apple', 'model': 'Macbook Pro', 'manufactured_year': 2016}

<hr br>

# Pickle Files

In [128]:
import pickle

## Read Pickle Files

The Pickle package has the **pickle.load()** function that loads the pickle content from a pickle file into a Python object or data structure. 

To open and read a pickle file, it is essential to use the mode `'rb'`, which stands for `'read binary.'` This mode is specifically designed for reading binary data, which is common when working with pickle files.

In [129]:
# Reading a pickle file
with open('data/pickle_data.pkl', 'rb') as f:
    data = pickle.load(f)
data

array([[[[231, 224, 216],
         [232, 224, 216],
         [232, 225, 217],
         ...,
         [226, 218, 210],
         [226, 217, 209],
         [225, 216, 208]],

        [[231, 224, 215],
         [232, 224, 215],
         [231, 225, 216],
         ...,
         [226, 218, 210],
         [225, 217, 209],
         [224, 216, 208]],

        [[231, 223, 215],
         [231, 224, 215],
         [231, 224, 216],
         ...,
         [225, 218, 209],
         [225, 218, 209],
         [224, 217, 208]],

        ...,

        [[201, 193, 185],
         [201, 193, 185],
         [201, 193, 185],
         ...,
         [216, 204, 196],
         [217, 204, 195],
         [216, 204, 193]],

        [[201, 193, 185],
         [201, 193, 185],
         [201, 192, 185],
         ...,
         [216, 204, 195],
         [217, 204, 195],
         [217, 204, 193]],

        [[200, 192, 185],
         [200, 193, 185],
         [200, 192, 184],
         ...,
         [217, 204, 195],
         [218, 204, 195],
         [217, 204, 193]]],


       [[[231, 223, 215],
         [231, 223, 215],
         [232, 224, 216],
         ...,
         [212, 205, 196],
         [211, 204, 195],
         [211, 203, 194]],

        [[231, 223, 215],
         [231, 223, 215],
         [231, 223, 215],
         ...,
         [212, 205, 196],
         [211, 204, 195],
         [210, 202, 193]],

        [[230, 222, 214],
         [231, 222, 215],
         [231, 223, 215],
         ...,
         [211, 205, 196],
         [211, 203, 195],
         [210, 202, 193]],

        ...,

        [[188, 179, 171],
         [188, 179, 171],
         [187, 179, 171],
         ...,
         [182, 166, 155],
         [179, 163, 151],
         [176, 159, 146]],

        [[187, 178, 170],
         [187, 178, 170],
         [187, 178, 170],
         ...,
         [182, 166, 155],
         [180, 163, 150],
         [176, 159, 145]],

        [[186, 177, 168],
         [186, 178, 169],
         [186, 177, 170],
         ...,
         [182, 166, 155],
         [180, 163, 150],
         [176, 159, 144]]],


       [[[230, 224, 216],
         [230, 224, 216],
         [230, 224, 216],
         ...,
         [223, 217, 210],
         [224, 218, 210],
         [223, 218, 210]],

        [[230, 224, 216],
         [230, 224, 216],
         [229, 224, 216],
         ...,
         [222, 217, 210],
         [222, 217, 210],
         [222, 217, 209]],

        [[230, 224, 215],
         [230, 224, 216],
         [229, 224, 215],
         ...,
         [221, 216, 209],
         [220, 216, 208],
         [220, 216, 208]],

        ...,

        [[207, 201, 194],
         [206, 201, 194],
         [205, 200, 193],
         ...,
         [209, 198, 189],
         [210, 198, 189],
         [209, 198, 189]],

        [[205, 199, 192],
         [205, 199, 192],
         [205, 198, 192],
         ...,
         [209, 198, 188],
         [209, 198, 188],
         [209, 198, 187]],

        [[203, 197, 189],
         [204, 197, 190],
         [203, 197, 190],
         ...,
         [209, 197, 188],
         [209, 198, 188],
         [209, 198, 187]]],


       ...,


       [[[232, 223, 212],
         [232, 223, 212],
         [231, 222, 211],
         ...,
         [237, 228, 219],
         [237, 228, 219],
         [237, 228, 218]],

        [[231, 222, 212],
         [231, 222, 211],
         [230, 222, 211],
         ...,
         [237, 228, 219],
         [237, 228, 219],
         [237, 228, 218]],

        [[231, 222, 211],
         [231, 222, 212],
         [230, 222, 211],
         ...,
         [236, 228, 218],
         [237, 228, 218],
         [237, 228, 218]],

        ...,

        [[173, 165, 154],
         [173, 165, 154],
         [173, 164, 153],
         ...,
         [116,  80,  59],
         [127,  87,  65],
         [136,  93,  69]],

        [[172, 163, 152],
         [171, 163, 152],
         [171, 162, 151],
         ...,
         [112,  78,  57],
         [122,  85,  63],
         [129,  88,  66]],

        [[170, 161, 150],
         [171, 161, 151],
         [170, 161, 151],
         ...,
         [104,  73,  53],
         [114,  79,  58],
         [125,  86,  63]]],


       [[[230, 222, 212],
         [230, 223, 213],
         [231, 224, 215],
         ...,
         [232, 226, 219],
         [231, 225, 218],
         [231, 225, 218]],

        [[229, 222, 212],
         [230, 223, 213],
         [230, 223, 214],
         ...,
         [231, 226, 219],
         [231, 226, 219],
         [231, 225, 218]],

        [[229, 222, 211],
         [229, 222, 212],
         [229, 223, 214],
         ...,
         [231, 226, 219],
         [231, 226, 219],
         [230, 225, 218]],

        ...,

        [[187, 179, 168],
         [187, 179, 167],
         [187, 178, 167],
         ...,
         [108,  84,  68],
         [126, 107,  92],
         [144, 127, 111]],

        [[187, 178, 167],
         [187, 178, 167],
         [187, 178, 167],
         ...,
         [ 99,  63,  42],
         [ 97,  65,  46],
         [ 97,  68,  49]],

        [[188, 179, 168],
         [188, 179, 168],
         [188, 179, 167],
         ...,
         [108,  67,  42],
         [106,  66,  43],
         [105,  66,  43]]],


       [[[230, 222, 212],
         [231, 222, 212],
         [231, 223, 213],
         ...,
         [231, 222, 213],
         [231, 222, 212],
         [230, 222, 212]],

        [[231, 222, 212],
         [231, 222, 212],
         [231, 222, 212],
         ...,
         [230, 222, 213],
         [230, 222, 212],
         [229, 222, 211]],

        [[230, 222, 212],
         [231, 222, 212],
         [230, 222, 212],
         ...,
         [230, 222, 212],
         [230, 221, 212],
         [229, 221, 210]],

        ...,

        [[207, 199, 189],
         [207, 199, 189],
         [206, 199, 188],
         ...,
         [131,  87,  58],
         [121,  79,  51],
         [112,  74,  49]],

        [[206, 198, 188],
         [206, 198, 188],
         [206, 198, 188],
         ...,
         [122,  80,  53],
         [114,  78,  54],
         [163, 140, 119]],

        [[206, 198, 188],
         [205, 198, 188],
         [205, 198, 188],
         ...,
         [111,  73,  49],
         [157, 133, 113],
         [204, 191, 175]]]], dtype=uint8)

## Writing to a Pickle File

We can use the `pickle.dump()` function to write Python objects to a pickle file.

To create or open a pickle file for writing, we need to use the mode `'wb'`, which stands for `'write binary.'` This mode ensures that the data is written in a binary format.

In [130]:
with open('data/laptop.pkl', 'wb') as f:
    pickle.dump(laptop_data, f)

<hr br>

# CSV Files

# Working with <span style="color:blue">Pandas</span>

# You can find the Pandas documentation [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html).

Before getting started, ensure that the Pandas library is installed in your Python environment.

In [180]:
# Import Pandas
import pandas as pd

# Check Pandas version
print(pd.__version__)

2.0.3

## Import data

Let's first read data from a csv file.  
[Customer Personality Analysis](https://www.kaggle.com/imakash3011/customer-personality-analysis)

In [181]:
# Loading the CSV file
file_path = 'data/marketing_campaign2.csv'
df = pd.read_csv(file_path)
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [182]:
# Display the first 5 rows of the DataFrame
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

## Indexing

Indexing is a fundamental concept in Pandas when working with DataFrames. It allows you to select specific rows, columns, or data points from your dataset.

In [183]:
# Accessing the index of the DataFrame (the row labels)
df.index

RangeIndex(start=0, stop=2240, step=1)

In Pandas, the `set_index` method is used to designate one or more columns in a DataFrame as the new index. This operation is valuable when you want to organize and access data based on specific criteria.

In [184]:
# Set index
df.set_index('ID', inplace=True)
df

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,7,0,0,0,0,0,0,3,11,1
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,5,0,0,0,0,0,0,3,11,0
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,4,0,0,0,0,0,0,3,11,0
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,6,0,0,0,0,0,0,3,11,0
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,...,5,0,0,0,0,0,0,3,11,0
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,7,0,0,0,1,0,0,3,11,0
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,6,0,1,0,0,0,0,3,11,0
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,3,0,0,0,0,0,0,3,11,0
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,7,0,0,0,0,0,0,3,11,1

In [185]:
# Check the index
df.index

Index([ 5524,  2174,  4141,  6182,  5324,  7446,   965,  6177,  4855,  5899,
       ...
        7004,  9817,  8080,  9432,  8372, 10870,  4001,  7270,  8235,  9405],
      dtype='int64', name='ID', length=2240)

A DataFrame is organized into columns, each representing a variable or attribute.

In [186]:
# View the columns
df.columns

Index(['Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

## Accessing cells

- Each column is a slice (pandas.Series) of the data frame.
- loc
- iloc

### Slice - Entire column

Use df[Column_name] or df.Column_name. The latter way is not applicable when there are space characters in column names.

In [187]:
#df['Education']
display(df.Education)
print('Column is of type ', type(df['Education']))

ID
5524     Graduation
2174     Graduation
4141     Graduation
6182     Graduation
5324            PhD
            ...
10870    Graduation
4001            PhD
7270     Graduation
8235         Master
9405            PhD
Name: Education, Length: 2240, dtype: object

Column is of type  <class 'pandas.core.series.Series'>

To access multiple columns, put column names in a list:

In [188]:
# Accessing multiple columns
df[['Year_Birth', 'Education']]

       Year_Birth   Education
ID
5524         1957  Graduation
2174         1954  Graduation
4141         1965  Graduation
6182         1984  Graduation
5324         1981         PhD
...           ...         ...
10870        1967  Graduation
4001         1946         PhD
7270         1981  Graduation
8235         1956      Master
9405         1954         PhD

[2240 rows x 2 columns]

# Exercise

Filter the columns Income, Marital_Status, and Dt_Customer and show the first 10 rows.

In [189]:
# Your code here

## [`iloc`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) - Using sequential numbers

The `iloc` indexer in Pandas allows you to select specific rows and columns in a DataFrame by their integer-based positions. It is particularly useful when you want to access data using sequential numbers.

In [190]:
df.head()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,7,0,0,0,0,0,0,3,11,1
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,5,0,0,0,0,0,0,3,11,0
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,4,0,0,0,0,0,0,3,11,0
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,6,0,0,0,0,0,0,3,11,0
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,5,0,0,0,0,0,0,3,11,0

First row, second column:

In [191]:
df.iloc[0,1]

'Graduation'

A continuous range of rows and columns:

In [192]:
df.iloc[1:4, 2:3]

     Marital_Status
ID
2174         Single
4141       Together
6182       Together

Selective rows and columns:

In [193]:
df.iloc[
    [0, 2],
    [1, 3]
]

       Education   Income
ID
5524  Graduation  58138.0
4141  Graduation  71613.0

Entire row:

In [194]:
df.iloc[3,:] 
# Shorter version
# df.iloc[3]

Year_Birth                   1984
Education              Graduation
Marital_Status           Together
Income                    26646.0
Kidhome                         1
Teenhome                        0
Dt_Customer            10-02-2014
Recency                        26
MntWines                       11
MntFruits                       4
MntMeatProducts                20
MntFishProducts                10
MntSweetProducts                3
MntGoldProds                    5
NumDealsPurchases               2
NumWebPurchases                 2
NumCatalogPurchases             0
NumStorePurchases               4
NumWebVisitsMonth               6
AcceptedCmp3                    0
AcceptedCmp4                    0
AcceptedCmp5                    0
AcceptedCmp1                    0
AcceptedCmp2                    0
Complain                        0
Z_CostContact                   3
Z_Revenue                      11
Response                        0
Name: 6182, dtype: object

Also, multiple rows:

In [195]:
df.iloc[[1, 4]]

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,5,0,0,0,0,0,0,3,11,0
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,5,0,0,0,0,0,0,3,11,0

Entire column:

In [196]:
df.iloc[:, 1]

ID
5524     Graduation
2174     Graduation
4141     Graduation
6182     Graduation
5324            PhD
            ...
10870    Graduation
4001            PhD
7270     Graduation
8235         Master
9405            PhD
Name: Education, Length: 2240, dtype: object

Multiple columns:

In [197]:
df.iloc[:, [2,4]]

      Marital_Status  Kidhome
ID
5524          Single        0
2174          Single        1
4141        Together        0
6182        Together        1
5324         Married        1
...              ...      ...
10870        Married        0
4001        Together        2
7270        Divorced        0
8235        Together        0
9405         Married        1

[2240 rows x 2 columns]

# Exercise

Select the first 7 rows and the first 5 columns

## [`loc`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) - Using labels

The `loc` indexer in Pandas allows you to select specific rows and columns in a DataFrame by their labels (index and column names). It's a powerful tool when you want to access data using labels.

In [198]:
df.head(5)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,7,0,0,0,0,0,0,3,11,1
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,5,0,0,0,0,0,0,3,11,0
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,4,0,0,0,0,0,0,3,11,0
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,6,0,0,0,0,0,0,3,11,0
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,5,0,0,0,0,0,0,3,11,0

Retrieve the value located at row label `4141` and column label `'Education'`:

In [199]:
# Retrieving data
df.loc[4141, 'Education']

'Graduation'

One row, several cloumns:

In [200]:
df.loc[4141, ['Education','Marital_Status','Kidhome']]

Education         Graduation
Marital_Status      Together
Kidhome                    0
Name: 4141, dtype: object

## Boolean indexing

Boolean indexing in Pandas allows you to filter and select data from a DataFrame based on specified conditions. It's a powerful technique for data subsetting and filtering.

In [201]:
file_path = 'data/marketing_campaign2.csv'
df2 = pd.read_csv(file_path, nrows=5)
df2

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In Pandas, you can use a list of Boolean values to index and select rows from a DataFrame. Each `True` value indicates that the corresponding row will be selected, while each `False` value indicates exclusion. Here's an example:

In [202]:
df2[
    [True, True, False, False, True]
]

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

### Filter the data frame

Get data of all people born in 1954

In [203]:
df['Year_Birth'] == 1954

ID
5524     False
2174      True
4141     False
6182     False
5324     False
         ...
10870    False
4001     False
7270     False
8235     False
9405      True
Name: Year_Birth, Length: 2240, dtype: bool

In [204]:
df[
    df['Year_Birth'] == 1954
]

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,5,0,0,0,0,0,0,3,11,0
4047,1954,PhD,Married,65324.0,0,1,11-01-2014,0,384,0,...,4,0,0,0,0,0,0,3,11,0
6566,1954,PhD,Married,72550.0,1,1,08-11-2012,39,826,50,...,8,0,0,0,0,0,0,3,11,0
1402,1954,Master,Married,66991.0,0,0,11-09-2012,1,496,36,...,3,0,0,0,0,0,0,3,11,0
9938,1954,Graduation,Married,80067.0,0,0,19-09-2013,82,519,17,...,2,0,0,1,0,0,0,3,11,0
6422,1954,Graduation,Married,86718.0,0,0,17-01-2013,20,344,189,...,2,0,0,0,0,0,0,3,11,0
380,1954,Graduation,Divorced,64497.0,0,1,10-09-2012,17,1170,48,...,8,1,0,0,0,0,0,3,11,1
6521,1954,Graduation,Together,77972.0,0,0,18-03-2014,18,613,22,...,1,0,0,0,0,0,0,3,11,0
1377,1954,Master,Widow,44551.0,0,1,31-08-2013,24,182,4,...,7,0,0,0,0,0,0,3,11,0
6878,1954,Graduation,Widow,27421.0,0,0,12-12-2012,14,43,12,...,7,0,0,0,0,0,0,3,11,0
4990,1954,Graduation,Married,59111.0,0,0,02-05-2013,90,524,0,...,7,0,0,0,0,0,0,3,11,0
4073,1954,2n Cycle,Married,63564.0,0,0,29-01-2014,0,769,80,...,6,1,0,0,0,0,0,3,11,1
6722,1954,PhD,Married,70421.0,0,1,28-06-2014,98,479,28,...,6,0,0,0,0,0,0,3,11,0
7462,1954,Graduation,Single,22507.0,0,0,24-11-2012,67,68,0,...,9,0,0,0,0,0,0,3,11,0
9499,1954,Graduation,Married,93404.0,1,2,07-05-2013,97,1279,15,...,5,0,1,1,0,0,0,3,11,0
9477,1954,PhD,Married,65324.0,0,1,11-01-2014,0,384,0,...,4,0,0,0,0,0,0,3,11,0
9308,1954,Graduation,Married,62820.0,0,0,11-05-2013,51,398,61,...,1,0,0,0,0,0,0,3,11,0
2625,1954,2n Cycle,Single,42607.0,0,1,17-11-2013,30,156,29,...,3,0,0,0,0,0,0,3,11,0
4637,1954,PhD,Single,74637.0,0,0,18-05-2013,73,960,64,...,3,0,0,0,1,0,0,3,11,0
5407,1954,Graduation,Together,53103.0,0,1,12-09-2013,70,729,17,...,7,1,0,0,0,0,0,3,11,0
8545,1954,Graduation,Divorced,85683.0,0,0,21-03-2014,6,1296,17,...,1,0,1,1,1,1,0,3,11,1
1640,1954,Graduation,Divorced,64587.0,1,1,22-06-2014,49,66,0,...,3,0,0,0,0,0,0,3,11,0
6374,1954,PhD,Married,36930.0,0,1,17-05-2013,50,223,2,...,8,0,0,0,0,0,0,3,11,0
7453,1954,Graduation,Single,36130.0,0,1,02-02-2013,46,157,43,...,4,1,0,0,0,0,0,3,11,1
6730,1954,Graduation,Married,38998.0,1,1,03-11-2012,92,34,1,...,8,0,0,0,0,0,1,3,11,0
375,1954,Graduation,Divorced,76773.0,0,0,25-02-2013,79,516,56,...,1,0,0,0,0,0,0,3,11,0
2308,1954,Graduation,Married,46734.0,0,1,18-11-2012,40,110,5,...,7,0,0,0,0,0,0,3,11,0
7755,1954,PhD,Married,57744.0,0,1,12-11-2013,91,350,3,...,8,0,0,0,0,0,0,3,11,0
3551,1954,Master,Together,60033.0,0,1,29-03-2014,28,62,1,...,2,0,0,0,0,0,0,3,11,0
3697,1954,Graduation,Together,39898.0,0,1,12-02-2013,20,69,8,...,7,0,0,0,0,0,0,3,11,0
4828,1954,Graduation,Divorced,79865.0,0,1,18-06-2014,12,71,99,...,1,0,0,0,0,0,0,3,11,0
4390,1954,Graduation,Together,75315.0,0,1,15-04-2014,14,459,15,...,2,0,0,0,0,0,0,3,11,0
9916,1954,Graduation,Married,38998.0,1,1,03-11-2012,92,34,1,...,8,0,0,0,0,0,1,3,11,0
5209,1954,Graduation,Divorced,50002.0,0,1,17-06-2013,21,443,5,...,7,0,0,0,0,0,0,3,11,0
2285,1954,Master,Together,36634.0,0,1,28-05-2013,0,213,9,...,7,0,0,0,0,0,0,3,11,0
2295,1954,PhD,Married,62670.0,0,1,02-02-2014,57,539,30,...,3,0,0,0,0,0,0,3,11,0
10092,1954,Graduation,Divorced,70044.0,0,1,18-02-2013,46,1073,0,...,5,0,0,0,0,0,0,3,11,0
10177,1954,Graduation,Divorced,72071.0,0,1,14-02-2013,4,531,69,...,2,0,0,0,0,0,0,3,11,0
531,1954,PhD,Divorced,57333.0,0,1,22-09-2012,55,941,14,...,6,0,0,0,0,0,0,3,11,1
5558,1954,PhD,Single,90933.0,0,0,31-03-2014,90,1020,31,...,1,0,0,1,0,0,0,3,11,0
544,1954,Graduation,Married,62820.0,0,0,11-05-2013,51,398,61,...,1,0,0,0,0,0,0,3,11,0
9955,1954,Graduation,Together,39898.0,0,1,12-02-2013,20,69,8,...,7,0,0,0,0,0,0,3,11,0
10339,1954,Master,Together,NaN,0,1,23-06-2013,83,161,0,...,6,0,0,0,0,0,0,3,11,0
1916,1954,Master,Married,45736.0,0,1,24-07-2013,92,188,3,...,7,0,0,0,0,0,0,3,11,0
2948,1954,Master,Divorced,62637.0,0,1,01-03-2014,76,104,12,...,2,0,0,0,0,0,0,3,11,0
2429,1954,Graduation,Divorced,72071.0,0,1,14-02-2013,4,531,69,...,2,0,0,0,0,0,0,3,11,0
2632,1954,Graduation,Married,50501.0,1,1,18-06-2013,10,297,0,...,6,1,0,0,0,0,0,3,11,1
4333,1954,Graduation,Together,32144.0,1,1,23-03-2014,76,41,0,...,7,0,1,0,0,0,0,3,11,0
692,1954,Graduation,Together,36807.0,1,1,20-12-2012,88,4,2,...,6,0,0,0,0,0,0,3,11,0
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,7,0,0,0,0,0,0,3,11,1

Multiple conditions: All PhDs born in 1954

In [205]:
df[
    (df['Education'] == 'PhD') & (df['Year_Birth'] == 1954)
]
# alternative
# df.query('Education == "PhD" and Year_Birth == 1954')

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
4047,1954,PhD,Married,65324.0,0,1,11-01-2014,0,384,0,...,4,0,0,0,0,0,0,3,11,0
6566,1954,PhD,Married,72550.0,1,1,08-11-2012,39,826,50,...,8,0,0,0,0,0,0,3,11,0
6722,1954,PhD,Married,70421.0,0,1,28-06-2014,98,479,28,...,6,0,0,0,0,0,0,3,11,0
9477,1954,PhD,Married,65324.0,0,1,11-01-2014,0,384,0,...,4,0,0,0,0,0,0,3,11,0
4637,1954,PhD,Single,74637.0,0,0,18-05-2013,73,960,64,...,3,0,0,0,1,0,0,3,11,0
6374,1954,PhD,Married,36930.0,0,1,17-05-2013,50,223,2,...,8,0,0,0,0,0,0,3,11,0
7755,1954,PhD,Married,57744.0,0,1,12-11-2013,91,350,3,...,8,0,0,0,0,0,0,3,11,0
2295,1954,PhD,Married,62670.0,0,1,02-02-2014,57,539,30,...,3,0,0,0,0,0,0,3,11,0
531,1954,PhD,Divorced,57333.0,0,1,22-09-2012,55,941,14,...,6,0,0,0,0,0,0,3,11,1
5558,1954,PhD,Single,90933.0,0,0,31-03-2014,90,1020,31,...,1,0,0,1,0,0,0,3,11,0
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,7,0,0,0,0,0,0,3,11,1

# Exercise

How many master students have an income of higher than 40000?

In [206]:
# YOUR CODE HERE

## Explore data

Data exploration is a crucial step in the data analysis process, and Pandas provides powerful tools to help you understand and gain insights from your dataset. Here are some common techniques for data exploration with Pandas:

A quick snapshot of your DataFrame:

In [207]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2240 entries, 5524 to 9405
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           2240 non-null   int64
 1   Education            2240 non-null   object
 2   Marital_Status       2240 non-null   object
 3   Income               2216 non-null   float64
 4   Kidhome              2240 non-null   int64
 5   Teenhome             2240 non-null   int64
 6   Dt_Customer          2240 non-null   object
 7   Recency              2240 non-null   int64
 8   MntWines             2240 non-null   int64
 9   MntFruits            2240 non-null   int64
 10  MntMeatProducts      2240 non-null   int64
 11  MntFishProducts      2240 non-null   int64
 12  MntSweetProducts     2240 non-null   int64
 13  MntGoldProds         2240 non-null   int64
 14  NumDealsPurchases    2240 non-null   int64
 15  NumWebPurchases      2240 non-null   int64
 16  NumCatalogPurchases  2240 non-null   int64
 17  NumStorePurchases    2240 non-null   int64
 18  NumWebVisitsMonth    2240 non-null   int64
 19  AcceptedCmp3         2240 non-null   int64
 20  AcceptedCmp4         2240 non-null   int64
 21  AcceptedCmp5         2240 non-null   int64
 22  AcceptedCmp1         2240 non-null   int64
 23  AcceptedCmp2         2240 non-null   int64
 24  Complain             2240 non-null   int64
 25  Z_CostContact        2240 non-null   int64
 26  Z_Revenue            2240 non-null   int64
 27  Response             2240 non-null   int64
dtypes: float64(1), int64(24), object(3)
memory usage: 572.0+ KB

Basic statistics of all the columns:

In [208]:
df.describe()

,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,27.062946,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,41.280498,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,1.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,8.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,33.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,263.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

Count the number of data items available for each of the columns:

In [209]:
df.count()

Year_Birth             2240
Education              2240
Marital_Status         2240
Income                 2216
Kidhome                2240
Teenhome               2240
Dt_Customer            2240
Recency                2240
MntWines               2240
MntFruits              2240
MntMeatProducts        2240
MntFishProducts        2240
MntSweetProducts       2240
MntGoldProds           2240
NumDealsPurchases      2240
NumWebPurchases        2240
NumCatalogPurchases    2240
NumStorePurchases      2240
NumWebVisitsMonth      2240
AcceptedCmp3           2240
AcceptedCmp4           2240
AcceptedCmp5           2240
AcceptedCmp1           2240
AcceptedCmp2           2240
Complain               2240
Z_CostContact          2240
Z_Revenue              2240
Response               2240
dtype: int64

Min, max values:

In [210]:
df.min()

Year_Birth                   1893
Education                2n Cycle
Marital_Status             Absurd
Income                     1730.0
Kidhome                         0
Teenhome                        0
Dt_Customer            01-01-2013
Recency                         0
MntWines                        0
MntFruits                       0
MntMeatProducts                 0
MntFishProducts                 0
MntSweetProducts                0
MntGoldProds                    0
NumDealsPurchases               0
NumWebPurchases                 0
NumCatalogPurchases             0
NumStorePurchases               0
NumWebVisitsMonth               0
AcceptedCmp3                    0
AcceptedCmp4                    0
AcceptedCmp5                    0
AcceptedCmp1                    0
AcceptedCmp2                    0
Complain                        0
Z_CostContact                   3
Z_Revenue                      11
Response                        0
dtype: object

Unique values in a column:

In [211]:
df['Education'].unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

Use `isna()` function to find cells with missing data:

In [212]:
df[
    df['Income'].isna()
]

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
1994,1983,Graduation,Married,NaN,1,0,15-11-2013,11,5,5,...,7,0,0,0,0,0,0,3,11,0
5255,1986,Graduation,Single,NaN,1,0,20-02-2013,19,5,1,...,1,0,0,0,0,0,0,3,11,0
7281,1959,PhD,Single,NaN,0,0,05-11-2013,80,81,11,...,2,0,0,0,0,0,0,3,11,0
7244,1951,Graduation,Single,NaN,2,1,01-01-2014,96,48,5,...,6,0,0,0,0,0,0,3,11,0
8557,1982,Graduation,Single,NaN,1,0,17-06-2013,57,11,3,...,6,0,0,0,0,0,0,3,11,0
10629,1973,2n Cycle,Married,NaN,1,0,14-09-2012,25,25,3,...,8,0,0,0,0,0,0,3,11,0
8996,1957,PhD,Married,NaN,2,1,19-11-2012,4,230,42,...,9,0,0,0,0,0,0,3,11,0
9235,1957,Graduation,Single,NaN,1,1,27-05-2014,45,7,0,...,7,0,0,0,0,0,0,3,11,0
5798,1973,Master,Together,NaN,0,0,23-11-2013,87,445,37,...,1,0,0,0,0,0,0,3,11,0
8268,1961,PhD,Married,NaN,0,1,11-07-2013,23,352,0,...,6,0,0,0,0,0,0,3,11,0
1295,1963,Graduation,Married,NaN,0,1,11-08-2013,96,231,65,...,4,0,0,0,0,0,0,3,11,0
2437,1989,Graduation,Married,NaN,0,0,03-06-2013,69,861,138,...,3,0,1,0,1,0,0,3,11,0
2863,1970,Graduation,Single,NaN,1,2,23-08-2013,67,738,20,...,7,0,1,0,1,0,0,3,11,0
10475,1970,Master,Together,NaN,0,1,01-04-2013,39,187,5,...,5,0,0,0,0,0,0,3,11,0
2902,1958,Graduation,Together,NaN,1,1,03-09-2012,87,19,4,...,5,0,0,0,0,0,0,3,11,0
4345,1964,2n Cycle,Single,NaN,1,1,12-01-2014,49,5,1,...,7,0,0,0,0,0,0,3,11,0
3769,1972,PhD,Together,NaN,1,0,02-03-2014,17,25,1,...,7,0,0,0,0,0,0,3,11,0
7187,1969,Master,Together,NaN,1,1,18-05-2013,52,375,42,...,3,0,0,0,0,0,0,3,11,0
1612,1981,PhD,Single,NaN,1,0,31-05-2013,82,23,0,...,6,0,0,0,0,0,0,3,11,0
5079,1971,Graduation,Married,NaN,1,1,03-03-2013,82,71,1,...,8,0,0,0,0,0,0,3,11,0
10339,1954,Master,Together,NaN,0,1,23-06-2013,83,161,0,...,6,0,0,0,0,0,0,3,11,0
3117,1955,Graduation,Single,NaN,0,1,18-10-2013,95,264,0,...,7,0,0,0,0,0,0,3,11,0
5250,1943,Master,Widow,NaN,0,0,30-10-2013,75,532,126,...,1,0,0,1,0,0,0,3,11,1
8720,1978,2n Cycle,Together,NaN,0,0,12-08-2012,53,32,2,...,0,0,1,0,0,0,0,3,11,0

Filtering Non-Missing Values:

In [213]:
df[
    ~df['Income'].isna()
]

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,7,0,0,0,0,0,0,3,11,1
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,5,0,0,0,0,0,0,3,11,0
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,4,0,0,0,0,0,0,3,11,0
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,6,0,0,0,0,0,0,3,11,0
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,...,5,0,0,0,0,0,0,3,11,0
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,7,0,0,0,1,0,0,3,11,0
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,6,0,1,0,0,0,0,3,11,0
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,3,0,0,0,0,0,0,3,11,0
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,7,0,0,0,0,0,0,3,11,1

# Exercise

Calculate the average income of married people who have a PhD degree.
- Hint: You can use the Pandas mean() function to calculate the average income.

In [214]:
# Your code here

# Data Processing

Pandas is a powerful library for data processing and manipulation in Python. It provides a wide range of tools and functions to efficiently work with structured data. Here are key data processing techniques in Pandas:

Change column names:

In [215]:
df.rename({
    'Dt_Customer': 'Dt Customer'
}, axis=1)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,7,0,0,0,0,0,0,3,11,1
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,5,0,0,0,0,0,0,3,11,0
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,4,0,0,0,0,0,0,3,11,0
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,6,0,0,0,0,0,0,3,11,0
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,...,5,0,0,0,0,0,0,3,11,0
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,7,0,0,0,1,0,0,3,11,0
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,6,0,1,0,0,0,0,3,11,0
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,3,0,0,0,0,0,0,3,11,0
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,7,0,0,0,0,0,0,3,11,1

Change row names:

In [216]:
df.rename({
    5524: 'first row'
}, axis=0)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
first row,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,7,0,0,0,0,0,0,3,11,1
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,5,0,0,0,0,0,0,3,11,0
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,4,0,0,0,0,0,0,3,11,0
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,6,0,0,0,0,0,0,3,11,0
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,...,5,0,0,0,0,0,0,3,11,0
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,7,0,0,0,1,0,0,3,11,0
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,6,0,1,0,0,0,0,3,11,0
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,3,0,0,0,0,0,0,3,11,0
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,7,0,0,0,0,0,0,3,11,1

Add columns:

In [217]:
df['High_Income'] = (df.Income > 60000).replace({True: 'Yes', False: 'No'})
df

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,High_Income
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,0,0,0,0,0,0,3,11,1,No
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,0,0,0,0,0,0,3,11,0,No
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,0,0,0,0,0,0,3,11,0,Yes
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,0,0,0,0,0,0,3,11,0,No
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,0,0,0,0,0,0,3,11,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,...,0,0,0,0,0,0,3,11,0,Yes
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,0,0,0,1,0,0,3,11,0,Yes
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,0,1,0,0,0,0,3,11,0,No
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,0,0,0,0,0,0,3,11,0,Yes
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,0,0,0,0,0,0,3,11,1,No

Add rows:

In [218]:
df.loc['dup_row'] = df.iloc[0]
df

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,High_Income
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,0,0,0,0,0,0,3,11,1,No
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,0,0,0,0,0,0,3,11,0,No
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,0,0,0,0,0,0,3,11,0,Yes
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,0,0,0,0,0,0,3,11,0,No
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,0,0,0,0,0,0,3,11,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,0,0,0,1,0,0,3,11,0,Yes
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,0,1,0,0,0,0,3,11,0,No
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,0,0,0,0,0,0,3,11,0,Yes
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,0,0,0,0,0,0,3,11,1,No
dup_row,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,0,0,0,0,0,0,3,11,1,No

Remove rows/columns:

In [219]:
df.drop('High_Income', axis=1)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,7,0,0,0,0,0,0,3,11,1
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,5,0,0,0,0,0,0,3,11,0
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,4,0,0,0,0,0,0,3,11,0
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,6,0,0,0,0,0,0,3,11,0
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,7,0,0,0,1,0,0,3,11,0
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,6,0,1,0,0,0,0,3,11,0
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,3,0,0,0,0,0,0,3,11,0
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,7,0,0,0,0,0,0,3,11,1
dup_row,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,7,0,0,0,0,0,0,3,11,1

Remove rows/columns by labels:

In [220]:
df.drop(5524)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,High_Income
ID,,,,,,,,,,,,,,,,,,,,,
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,0,0,0,0,0,0,3,11,0,No
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,0,0,0,0,0,0,3,11,0,Yes
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,0,0,0,0,0,0,3,11,0,No
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,0,0,0,0,0,0,3,11,0,No
7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,520,42,...,0,0,0,0,0,0,3,11,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,0,0,0,1,0,0,3,11,0,Yes
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,0,1,0,0,0,0,3,11,0,No
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,0,0,0,0,0,0,3,11,0,Yes
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,0,0,0,0,0,0,3,11,1,No
dup_row,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,0,0,0,0,0,0,3,11,1,No

Remove rows/columns by sequence indexes:

In [221]:
df.drop(df.index[0:2])

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,High_Income
ID,,,,,,,,,,,,,,,,,,,,,
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,0,0,0,0,0,0,3,11,0,Yes
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,0,0,0,0,0,0,3,11,0,No
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,0,0,0,0,0,0,3,11,0,No
7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,520,42,...,0,0,0,0,0,0,3,11,0,Yes
965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,235,65,...,0,0,0,0,0,0,3,11,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,0,0,0,1,0,0,3,11,0,Yes
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,0,1,0,0,0,0,3,11,0,No
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,0,0,0,0,0,0,3,11,0,Yes
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,0,0,0,0,0,0,3,11,1,No
dup_row,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,0,0,0,0,0,0,3,11,1,No

Remove duplicate rows:

In [222]:
df.drop_duplicates()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,High_Income
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,0,0,0,0,0,0,3,11,1,No
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,0,0,0,0,0,0,3,11,0,No
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,0,0,0,0,0,0,3,11,0,Yes
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,0,0,0,0,0,0,3,11,0,No
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,0,0,0,0,0,0,3,11,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9432,1977,Graduation,Together,666666.0,1,0,02-06-2013,23,9,14,...,0,0,0,0,0,0,3,11,0,Yes
10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,...,0,0,0,0,0,0,3,11,0,Yes
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,0,1,0,0,0,0,3,11,0,No
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,0,0,0,0,0,0,3,11,0,Yes
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,0,0,0,0,0,0,3,11,1,No

# Exercise

Add a new column that shows the hourly income of each person
#### Assumptions:
 - The Income column contains the annual salary for 12 months. 
 - Each month has 30 days.
 - Normal working shift is 8 hours.

In [223]:
# Your code here

## Groupby

Grouping data in Pandas is a fundamental operation that allows you to organize and analyze data based on specific attributes or columns. The `groupby()` function is used for this purpose, and it often precedes aggregation operations:

For each birth year, count the number of people.

In [224]:
gb_year = df.groupby('Year_Birth')
gb_year

All groups

In [225]:
gb_year.groups.keys()

dict_keys([1893, 1899, 1900, 1940, 1941, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996])

Group data for the year 1957.

In [226]:
gb_year.get_group(1957)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,High_Income
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,0,0,0,0,0,0,3,11,1,No
8430,1957,Graduation,Together,21994.0,0,1,24-12-2012,4,9,0,...,0,0,0,0,0,0,3,11,0,No
8614,1957,Graduation,Widow,65486.0,0,1,12-05-2014,29,245,19,...,0,0,0,0,0,0,3,11,0,Yes
4452,1957,Graduation,Single,50388.0,0,1,28-05-2014,3,292,6,...,0,1,0,1,0,0,3,11,1,No
8996,1957,PhD,Married,NaN,2,1,19-11-2012,4,230,42,...,0,0,0,0,0,0,3,11,0,No
9235,1957,Graduation,Single,NaN,1,1,27-05-2014,45,7,0,...,0,0,0,0,0,0,3,11,0,No
3152,1957,Graduation,Together,26091.0,1,1,25-02-2014,84,15,10,...,0,0,0,0,0,0,3,11,0,No
3153,1957,PhD,Single,40737.0,2,1,08-12-2013,24,11,0,...,0,0,0,0,0,0,3,11,0,No
7214,1957,Graduation,Married,62187.0,0,0,05-07-2013,49,792,0,...,0,0,0,0,0,0,3,11,0,Yes
2579,1957,Graduation,Married,71113.0,0,1,17-12-2013,95,495,33,...,0,0,0,0,0,0,3,11,0,Yes
7274,1957,Graduation,Married,78618.0,0,0,28-09-2012,87,736,163,...,0,1,0,0,0,0,3,11,0,Yes
4303,1957,PhD,Together,6835.0,0,1,08-12-2012,76,107,2,...,0,0,0,0,0,0,3,11,0,No
10446,1957,PhD,Married,82017.0,0,0,07-11-2012,58,184,23,...,0,1,1,1,0,0,3,11,1,Yes
7352,1957,Graduation,Married,55267.0,0,1,21-10-2013,28,161,28,...,0,0,0,0,0,0,3,11,0,No
4856,1957,2n Cycle,Married,82347.0,0,0,06-11-2012,38,556,54,...,1,0,0,1,0,0,3,11,0,Yes
9665,1957,PhD,Divorced,54237.0,0,1,27-04-2013,48,267,3,...,0,0,0,0,0,0,3,11,0,No
11188,1957,Graduation,Together,26091.0,1,1,25-02-2014,84,15,10,...,0,0,0,0,0,0,3,11,0,No
10660,1957,Master,Married,66726.0,1,1,12-01-2014,61,349,7,...,0,1,0,0,0,0,3,11,0,Yes
8387,1957,Graduation,Married,43140.0,0,1,05-01-2013,68,134,8,...,0,0,0,0,0,0,3,11,0,No
2995,1957,Master,Together,66636.0,0,0,17-08-2013,64,291,10,...,0,0,0,0,0,0,3,11,0,Yes
8955,1957,PhD,Together,40451.0,0,2,16-02-2014,54,35,0,...,1,0,0,0,0,0,3,11,0,No
5644,1957,Graduation,Together,42213.0,0,1,12-10-2013,96,309,3,...,0,1,0,0,0,0,3,11,0,No
1627,1957,2n Cycle,Divorced,77297.0,0,0,26-01-2013,84,408,61,...,0,0,0,1,0,0,3,11,0,Yes
679,1957,PhD,Married,37633.0,1,1,20-09-2012,49,13,4,...,0,0,0,0,0,0,3,11,0,No
4188,1957,Graduation,Single,36864.0,0,1,13-08-2012,53,204,5,...,0,0,0,0,0,0,3,11,1,No
5221,1957,Graduation,Married,52852.0,0,1,01-12-2012,93,714,8,...,1,0,0,0,0,0,3,11,0,No
591,1957,Graduation,Widow,66033.0,0,1,20-01-2013,76,293,35,...,0,0,0,0,0,0,3,11,0,Yes
1081,1957,PhD,Married,75283.0,1,2,27-03-2013,26,733,9,...,0,0,0,0,0,0,3,11,0,Yes
10356,1957,PhD,Divorced,41437.0,1,1,22-09-2012,5,29,0,...,0,0,0,0,0,0,3,11,0,No
332,1957,Graduation,Married,47743.0,0,1,22-03-2013,56,198,2,...,0,1,0,0,0,0,3,11,0,No
3170,1957,Master,Together,68148.0,0,0,31-08-2013,86,389,66,...,0,0,0,0,0,0,3,11,0,Yes
7505,1957,PhD,Married,44155.0,1,1,19-01-2014,24,22,1,...,0,0,0,0,0,0,3,11,0,No
1867,1957,Graduation,Single,64849.0,0,0,13-11-2012,42,652,48,...,0,0,0,0,0,0,3,11,1,Yes
8619,1957,Graduation,Together,21994.0,0,1,24-12-2012,4,9,0,...,0,0,0,0,0,0,3,11,0,No
2115,1957,Graduation,Together,50116.0,1,1,20-06-2014,68,54,0,...,0,1,0,0,0,0,3,11,0,No
4369,1957,Master,Absurd,65487.0,0,0,10-01-2014,48,240,67,...,0,0,0,0,0,0,3,11,0,Yes
9727,1957,Graduation,Married,23539.0,0,0,28-02-2014,13,4,24,...,0,0,0,0,0,0,3,11,0,No
9790,1957,Graduation,Single,78499.0,0,0,23-11-2013,12,912,72,...,0,0,1,0,0,0,3,11,1,Yes
977,1957,Graduation,Together,47320.0,0,1,01-08-2013,10,200,19,...,0,0,0,0,0,0,3,11,0,No
8207,1957,2n Cycle,Married,53233.0,0,1,18-03-2014,18,28,0,...,0,0,0,0,0,0,3,11,0,No
10652,1957,Master,Together,65487.0,0,0,10-01-2014,48,240,67,...,0,0,0,0,0,0,3,11,0,Yes
8722,1957,2n Cycle,Married,82347.0,0,0,06-11-2012,38,556,54,...,1,0,0,1,0,0,3,11,1,Yes
7118,1957,Graduation,Married,73803.0,0,1,01-08-2012,61,833,80,...,1,0,0,0,0,0,3,11,1,Yes
dup_row,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,0,0,0,0,0,0,3,11,1,No

Number of rows in each group

In [227]:
df.groupby('Year_Birth').size()

Year_Birth
1893     1
1899     1
1900     1
1940     1
1941     1
1943     7
1944     7
1945     8
1946    16
1947    16
1948    21
1949    30
1950    29
1951    43
1952    52
1953    35
1954    50
1955    49
1956    55
1957    44
1958    53
1959    51
1960    49
1961    36
1962    44
1963    45
1964    42
1965    74
1966    50
1967    44
1968    51
1969    71
1970    77
1971    87
1972    79
1973    74
1974    69
1975    83
1976    89
1977    52
1978    77
1979    53
1980    39
1981    39
1982    45
1983    42
1984    38
1985    32
1986    42
1987    27
1988    29
1989    30
1990    18
1991    15
1992    13
1993     5
1994     3
1995     5
1996     2
dtype: int64

*Exercise*: Get basic statistics of income w.r.t education?

In [228]:
# Group by Education

# Extract only relevant information, i.e. Income

# Derive some (simple) statistics of Income of each group